@media (min-width: 1025px) and (hover: hover) and (pointer: fine) {
  /* Your styles here */
}
@media (max-width: 1024px) and (hover: none) and (pointer: coarse) {
  /* Your styles here */
}
.faqBODYnav:is(:active, :focus) {
  will-change: background-position;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation: faqNAVSCROLLhover linear;
  animation-timeline: scroll(x self);
}
/* Your styles here
  
:is(:active, :focus) {
  :is(:hover, :active, :focus) {
  */

@media (max-width: 1024px) and (hover: none) and (pointer: coarse) {
  .faqGRIDcontactContainer:has(
      .faqGRIDcontactcard:active,
      .faqGRIDcontactcard:focus
    )
    .child-div:not(:active):not(:focus) {
    opacity: 0.5;
  }

  .faqGRIDcontactcard:active,
  .faqGRIDcontactcard:focus {
    opacity: 1;
  }

  .faqGRIDcontactContainer:hover .faqGRIDcontactcard {
    filter: blur(3px);
    transform: translateY(0) scale(1);
    color: #c1bfb9;
    transition: filter transform color 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .faqGRIDcontactContainer:hover .faqGRIDcontactcard svg {
    color: #c1bfb9;
    transition: filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  .faqGRIDcontactContainer .faqGRIDcontactcard:hover {
    width: 90%;
    filter: blur(0);
    z-index: 1000;
    transform: translate(10px, 40px) scale(1.15);
    color: #404041;
    margin: -20px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
    -webkit-box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
    -moz-box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
    transition:
      color margin padding 0.2s ease,
      filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .faqGRIDcontactContainer .faqGRIDcontactcard:hover svg {
    color: #ff8819;
    transition: filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .faqGRIDcontactContainer
    .faqGRIDcontactcard:hover
    .faqCONTACTlinks
    div
    a
    svg {
    display: flex;
    transform: translate(-5px, 0px) scale(0.8);
    fill: #6b6a69;
  }

  #Contacts:has(.faqGRIDcontactContainer .faqGRIDcontactcard:hover)
    .faqTXTquestion {
    opacity: 0.2;
  }
}

.faqGRIDcontactContainer:has(
    .faqGRIDcontactcard:active,
    .faqGRIDcontactcard:focus
  )
  .child-div:not(:active):not(:focus) {
  opacity: 0.5;
}

.faqGRIDcontactcard:active,
.faqGRIDcontactcard:focus {
  opacity: 1;
}

.faqGRIDcontactContainer:hover .faqGRIDcontactcard {
  display: flex;
  flex-direction: row;
  color: #c1bfb9;
  transition: filter transform color 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqGRIDcontactContainer:hover .faqGRIDcontactcard svg {
  transition: filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqGRIDcontactContainer:hover .faqGRIDcontactcard .faqCONTACTtext {
  transform: scale(0);
  display: none;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) display 0.5 ease;
}

.faqGRIDcontactContainer .faqGRIDcontactcard:hover .faqCONTACTtext {
  transform: scale(100%);
  display: flex;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.faqGRIDcontactContainer .faqGRIDcontactcard:hover {
  width: 90%;
  filter: blur(0);
  z-index: 1000;
  transform: translate(5%, 40px) scale(1.15);
  color: #404041;
  margin: -20px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
  -webkit-box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
  -moz-box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
  transition:
    color margin padding 0.2s ease,
    filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqGRIDcontactContainer .faqGRIDcontactcard:hover svg {
  color: #ff8819;
  transition: filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqGRIDcontactContainer .faqGRIDcontactcard:hover .faqCONTACTlinks div a svg {
  display: flex;
  transform: translate(-5px, 0px) scale(0.8);
  fill: #6b6a69;
}

#Contacts:has(.faqGRIDcontactContainer .faqGRIDcontactcard:hover)
  .faqTXTquestion {
  opacity: 0.2;
}

.faqGRIDcontactContainer .faqGRIDcontactcard:hover {
  width: 90%;
  filter: blur(0);
  z-index: 1000;
  transform: translate(5%, 40px) scale(1.15);
  color: #404041;
  margin: -20px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
  -webkit-box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
  -moz-box-shadow: 0px 1px 26px 1px rgba(150, 148, 145, 0.5);
  transition:
    color margin padding 0.2s ease,
    filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqGRIDcontactContainer .faqGRIDcontactcard:hover svg {
  color: #ff8819;
  transition: filter transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqGRIDcontactContainer .faqGRIDcontactcard:hover .faqCONTACTlinks div a svg {
  display: flex;
  transform: translate(-5px, 0px) scale(0.8);
  fill: #6b6a69;
}

#Contacts:has(.faqGRIDcontactContainer .faqGRIDcontactcard:hover)
  .faqTXTquestion {
  opacity: 0.2;
}
.faqGRIDcontactContainer:hover .faqGRIDcontactcard {
  display: flex;
  flex-direction: row;
  color: #c1bfb9;
  transition: filter transform color 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.faqGRIDcontactContainer:hover .faqGRIDcontactcard .faqCONTACTtext {
  transform: scale(0);
  display: none;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) display 0.5 ease;
}

.faqGRIDcontactContainer .faqGRIDcontactcard:hover .faqCONTACTtext {
  transform: scale(100%);
  display: flex;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
