/* ONLINE NEWSPAPER CSS ADDITIONS FOR FAQ PAGE */

    		/* Outlines the grids, remove when sending
		div, section, header, nav, ul, li { border: 1px solid cyan !important}*/

/* BASE LEVEL STYLES */
body {
    scroll-behavior: smooth !important;
        text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}   
.html-embed .custom-html
            {padding:0 5%}
body.page-type__piano .custom-html
            {padding:0}@keyframes pulse
            {0%
            {opacity:1;scale:1}10%
            {opacity:.5;scale:1.1}50%
            {opacity:1;scale:1}to
            {opacity:1;scale:1}}

.pulse {
    animation-duration:4s;animation-iteration-count:infinite;animation-name:pulse
}

.advtoprail {
    margin-bottom:0!important
}            

/* FAQ JAVA STYLES */
.accordion {
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: transparent !important;
}

/* FAQ NAVBAR STYLES */
#faqNavBar {
    width: 100%;
    height: 80px;
    will-change: transform; 
    background-image: linear-gradient(165deg, #1e1e1e, #262626); 
    border-bottom: 2px solid #ffffff;
    z-index: 500;
}
#faqNavBar.bottom-sticky {
    position: relative;
    bottom: 0;
    left: 0;
    transition: filter 0.2s ease !important;
}

#faqNavBar.top-sticky {
    position: sticky !important;
    top: 0px;
    left: 0;
    bottom: auto; /* Overrides the previous bottom rule */
    transition: filter 0.2s ease !important;
}

#faqNavBar .faqNavWrapper {
    margin:0 auto;
}
/* X-Small */ @media(max-width: 549px){  
    .faqNavWrapper {max-width: 100%; padding: 0 2rem}}
/* Small */ @media(min-width: 549px) and (max-width: 768px){  
    .faqNavWrapper {max-width: 549; padding: 0 2rem}}
/* Medium */ @media(min-width: 768px) and (max-width: 1024px){  
    .faqNavWrapper {max-width: 768px; padding: 0 2rem}}
/* Large */ @media(min-width: 1024px) and (max-width: 1280px){  
    .faqNavWrapper {max-width: 1024px; padding: 0 2rem}}
/* X-Large */ @media(min-width: 1280px) {  
    .faqNavWrapper {max-width: 1280px; padding: 0 2rem}}

#faqNavBar .navFAQul {
  display: flex;
  flex-wrap: nowrap;
  align-content: end;
  height: 80px;
  padding-bottom: 1px;
}
#faqNavBar .navFAQli {
    align-items: end;
    display: flex;
    margin-right: 20px;
}
#faqNavBar .navFAQlink {
    text-decoration: none;
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    color: #535353;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    text-align: left;
    padding-bottom: 4px;
    border-bottom: 10px solid transparent !important;  
    transition: all 0.2s ease !important;
    will-change: transform; 
}

.navli00 {
    order: 0;
}
.navli02 {
    order: 2;
}
.navli03 {
    order: 3;
}
.navli04 {
    order: 4;
}
.navli05 {
    order: 5;
}
.navli06 {
    order: 6;
}
body:has(.navli02 .navFAQlink.active) .navli02 {order: 1;transition: all 0.2s ease-in-out !important;}
body:has(.navli02 .navFAQlink.active) .navli03 {order: 3;transition: all 0.2s ease-in-out !important;}
body:has(.navli02 .navFAQlink.active) .navli04 {order: 4;transition: all 0.2s ease-in-out !important;}
body:has(.navli02 .navFAQlink.active) .navli05 {order: 5;transition: all 0.2s ease-in-out !important;}
body:has(.navli02 .navFAQlink.active) .navli06 {order: 6;transition: all 0.2s ease-in-out !important;}

body:has(.navli03 .navFAQlink.active) .navli03 {order: 1;transition: all 0.2s ease-in-out !important;}
body:has(.navli03 .navFAQlink.active) .navli02 {order: 2;transition: all 0.2s ease-in-out !important;}
body:has(.navli03 .navFAQlink.active) .navli04 {order: 4;transition: all 0.2s ease-in-out !important;}
body:has(.navli03 .navFAQlink.active) .navli05 {order: 5;transition: all 0.2s ease-in-out !important;}
body:has(.navli03 .navFAQlink.active) .navli06 {order: 6;transition: all 0.2s ease-in-out !important;}

body:has(.navli04 .navFAQlink.active) .navli04 {order: 1;transition: all 0.2s ease-in-out !important;}
body:has(.navli04 .navFAQlink.active) .navli03 {order: 3;transition: all 0.2s ease-in-out !important;}
body:has(.navli04 .navFAQlink.active) .navli02 {order: 2;transition: all 0.2s ease-in-out !important;}
body:has(.navli04 .navFAQlink.active) .navli05 {order: 5;transition: all 0.2s ease-in-out !important;}
body:has(.navli04 .navFAQlink.active) .navli06 {order: 6;transition: all 0.2s ease-in-out !important;}

body:has(.navli05 .navFAQlink.active) .navli05 {order: 1;transition: all 0.2s ease-in-out !important;}
body:has(.navli05 .navFAQlink.active) .navli03 {order: 3;transition: all 0.2s ease-in-out !important;}
body:has(.navli05 .navFAQlink.active) .navli04 {order: 4;transition: all 0.2s ease-in-out !important;}
body:has(.navli05 .navFAQlink.active) .navli02 {order: 2;transition: all 0.2s ease-in-out !important;}
body:has(.navli05 .navFAQlink.active) .navli06 {order: 6;transition: all 0.2s ease-in-out !important;}

body:has(.navli06 .navFAQlink.active) .navli06 {order: 1;transition: all 0.2s ease-in-out !important;}
body:has(.navli06 .navFAQlink.active) .navli05 {order: 5;transition: all 0.2s ease-in-out !important;}
body:has(.navli06 .navFAQlink.active) .navli04 {order: 4;transition: all 0.2s ease-in-out !important;}
body:has(.navli06 .navFAQlink.active) .navli03 {order: 3;transition: all 0.2s ease-in-out !important;}
body:has(.navli06 .navFAQlink.active) .navli02 {order: 2;transition: all 0.2s ease-in-out !important;}


#faqNavBar.bottom-sticky .navFAQul .navFAQhome .navFAQlink {
    color: #ffffff !important;
    transition: all 0.15s ease-in-out;
}
#faqNavBar.bottom-sticky .navFAQul .navFAQhome .navFAQlink.active {
    color: #00b7ff;
    transition: all 0.15s ease-in-out;
}

#faqNavBar.top-sticky .navFAQhome {
    color: #ffffff !important;
    transition: all 0.15s ease-in-out;
}


#faqNavBar.top-sticky .navFAQlink {
    color: #b0aeae;
    transition: all 0.2s ease !important;
}
#faqNavBar .navFAQlink.active {
    color: #ffffff !important;
    border-bottom: 10px solid transparent !important;  
    transition: all 0.2s ease !important;
}


#faqNavBar .navFAQul .navFAQlink:hover {
    color: #ffffff;
    border-bottom: 10px solid #ffffff;  
    transition: all 0.2s ease !important;
}
.navFAQul  {
    display: flex;                 /* Aligns items in a single row */
    overflow-x: scroll;              /* Enables horizontal scrolling when content overflows */
    overflow-y: hidden;             /* Prevents accidental vertical shifting */
    white-space: nowrap;           /* Keeps links strictly on one line */
    height: 100%;
        translate: 0px 9px; /* Moves 50px right and 20px down */
        }    
        /* width */
        ::-webkit-scrollbar {
        width: 6px;
        height: 11px;
        }

        /* width */
        ::-webkit-scrollbar-track {
        height: 100%;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        height: 100%;
        background-image: linear-gradient(0deg, #ffffff, #ffffff, #c3c3c3); 
        transition: all 0.1s ease !important;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(0deg, #ffffff, #ffffff); 
        transition: all 0.1s ease !important;
        }
#faqNavBar .navShadow {
    width: 120%; 
    background-color: transparent; 
    height: 100%; 
    position: absolute;
    margin-left: -20%; 
        color: #ffffff;
    border-bottom: 1px solid #ffffff;  
}
#faqNavBar.bottom-sticky .navShadow {
    -webkit-box-shadow: 0px 29px 34px -4px rgba(0,0,0,0.58); 
box-shadow: 0px 29px 34px -4px rgba(0,0,0,0.58);; 
}
#faqNavBar.top-sticky .navShadow {
    -webkit-box-shadow: 0px 19px 29px -4px rgba(0,0,0,0.52); box-shadow: 0px 19px 29px -4px rgba(0,0,0,0.52);
}
#faqNavBar .faqNavWrapper {
    display:block;
    padding:0 2rem;
}

/* FAQ HERO AND SECTION STYLES */

.faqHeroFull {
    background-image: linear-gradient(165deg, #0d0d0d, #1d1d1d, #262626); 
    width: 100%;
    margin-top: 50px;
    padding: 10vh 0 0 0;
    z-index: 550;
}
.faqHeroFull .faqPageWrapper {
    display:flex;
    flex-direction:row!important;
    margin:0 auto;
    padding: 0 2rem;
}

.faqHeroFull .faqHeroContainer {
    margin-bottom: 0; 
    display:block;
    width: 100%;
}
.faqHeroFull .faqHeroContainer .faqBannerText {
    margin: 0;
    padding: 0;
}
.navIMGbx {
    padding-right: 0rem;
}
.navLOGOcontainer {
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 1rem;
    transition: all 0.2s ease-in-out;
}
.navLOGOcontainer div {
    aspect-ratio: 1 / 1; 
}
.navLOGOcontainer div svg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scales image while maintaining aspect ratio */
    object-position: center;
    fill:#00b7ff;
    background-color: transparent;
}
body:has(.faqBannerText .hoverHome:hover) .navLOGOcontainer div svg {
    fill:#ffffff;
}
body:has(.faqBannerText .hoverGold:hover) .navLOGOcontainer div svg {
    fill:#00b7ff;
    transition: all 0.2s ease-in-out;
}

body:has(.faqBannerText .hoverGold:hover) .navLOGOcontainer div svg {
    fill:#ffca2b;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverGold:hover) #faqNavBar.bottom-sticky .navFAQul .navFAQhome .navFAQlink {
    color: #ffca2b !important;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverRed:hover) .navLOGOcontainer div svg {
    fill:#ff5e5e;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverRed:hover) #faqNavBar.bottom-sticky .navFAQul .navFAQhome .navFAQlink {
    color: #ff5e5e !important;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverGreen:hover) .navLOGOcontainer div svg {
    fill:#92ff5c;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverGreen:hover) #faqNavBar.bottom-sticky .navFAQul .navFAQhome .navFAQlink {
    color: #92ff5c !important;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverViolet:hover) .navLOGOcontainer div svg {
    fill:#bc69ff;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverViolet:hover) #faqNavBar.bottom-sticky .navFAQul .navFAQhome .navFAQlink {
    color: #bc69ff !important;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverOrange:hover) .navLOGOcontainer div svg {
    fill:#ff8819;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText .hoverOrange:hover) #faqNavBar.bottom-sticky .navFAQul .navFAQhome .navFAQlink {
    color: #ff8819 !important;
    transition: all 0.2s ease-in-out;
}
body:has(.faqBannerText:hover) .item9 {
    background-color: #383838 !important;
    transition: all 0.2s ease-in-out;
}

.faqBannerText div a {
    color: #676767;
}
.hoverHome {
    color: #00b7ff; 
    text-shadow: 0 0 30px #00b7ffb5; 
}
.faqBannerText:hover .hoverHome {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 0px #00b7ff00; /* X-offset Y-offset Blur Color */
}

/* FAQ BODY STYLES */
/* MAIN FULL WRAP AND INSET WRAPS */
.faqFillShaded {
    background-color: #ece9e1;
    border-bottom: 1px solid #ffffff;
}
.faqFillNone {
    background-color: #f8f5f0;
    border-bottom: 1px solid #ffffff;
}
.faqBodyContainer .faqPageWrapper {
    display:flex;
    margin: 0 auto;
}


/* X-Small */ @media(max-width: 549px){.faqPageWrapper {max-width:100%;padding: 30px 2rem 50px 2rem;}}
/* Small */ @media(min-width: 549px) and (max-width: 768px){.faqPageWrapper {max-width:549px;padding: 40px 2rem 60px 2rem;}}
/* Medium */ @media(min-width: 768px) and (max-width: 1024px){.faqPageWrapper {max-width:768px;padding: 10% 2rem;}}
/* Large */ @media(min-width: 1024px) and (max-width: 1280px){.faqPageWrapper {max-width:1024px;padding: 10% 2rem;}}
/* X-Large */ @media(min-width: 1280px) {.faqPageWrapper {max-width:1280px;padding: 10% 2rem;}}


.faqHeroContainer .faqBannerText  {
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:center;
    color: #2A2A2A;
    text-align: left !important;
    padding: 5% 0% 5% 5%;
}

.faqFillNone .faqBannerText  {
    padding: 5% 5% 5% 0%;
}

.faqFillContacts .faqBannerText  {
    padding: 0%;
}

.faqFillContacts .faqBannerText {
    margin-bottom: 6vw; 
    margin-top: 1vw;
}

.faqHeroContainer {
    display:grid;
    margin:4rem 0px;
    grid-template-columns: auto auto;
}

.faqHeroContainer .faqBannerText .faqMSGheader {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    letter-spacing:0;
    line-height:1.2;
}
            
.faqHeroContainer .faqBannerText .faqMSGtext {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    letter-spacing:0;
    line-height:1.6;
    position:relative;
}

.faqList {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing:0;
    line-height:1.6;
    position:relative;
    text-wrap: balance;
}

.faqList span {
    padding-right: 4px;
}

.faqHeroContainer .faqBannerText .faqMSGtext  strong {
    font-weight:600
}
                   
.faqHeroContainer .faqBannerText .BannerImgLogo {
    margin-bottom:32px;
}
            
.faqHeroContainer .faqBannerText .BannerImgLogo img {
    width:250px
}
               
.faqHeroContainer .faqBannerText .MessageButton {
    background-color:#2a2a2a;
    border-radius:32px;
    color:#fff;
    cursor:pointer;
    font-family:Inter,serif;
    font-size:1.4rem;
    font-weight:700;
    gap:8px;
    height:50px;
    margin:32px 0 0;
    padding:16px 24px;
    width:100%
}
            
.faqHeroContainer .BannerRight {
    align-items:center;
    background-color:#f6ca15;
    display:flex;
    flex-grow:1;
    justify-content:center;
    max-height:354px;
    padding:14px 58px;
    position:relative
}
            
.faqBannerImage {
     display: flex;       /* Use flexbox to center content */
     justify-content: center; /* Centers horizontally */
     align-items: center;     /* Centers vertically */
}
.faqBannerImage img {
    width: 100%;         /* Let the image expand to the width */
    height: 100%;        /* Let the image expand to the height */
    object-fit: cover; /* Scales image while maintaining aspect ratio */
    object-position: center;
}



/* FAQ BODY STYLES */

            
.faqBodyImage {
     display: flex;       /* Use flexbox to center content */
     justify-content: center; /* Centers horizontally */
     align-items: center;     /* Centers vertically */
}

.faqBodyImage img {
    width: 100%;         /* Let the image expand to the width */
    height: 100%;        /* Let the image expand to the height */
    object-fit: contain; /* Scales image while maintaining aspect ratio */
    object-position: center;
}


.faqQuestionRow button, .faqQuestionRowStatic div  {
    margin-bottom: 10px
}

.faqHeroContainer .faqBannerText .faqBodyheader {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size:2.8rem;
    letter-spacing:0;
    line-height:1.2;
    text-wrap: balance;
}

.faqQuestionRow p, .staticWrap p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing:0.5px;
    line-height:1.4;
    color: #2A2A2A;
}
/* X-Small */ @media(max-width: 549px){  
.faqQuestionRow p, .staticWrap p {font-size: 12px;}}
/* Small */ @media(min-width: 549px) and (max-width: 768px){  
.faqQuestionRow p, .staticWrap p  {font-size: 14px;}}
/* Medium */ @media(min-width: 768px) and (max-width: 1024px){  
.faqQuestionRow p, .staticWrap p  {font-size: 16px;}}
/* Large */ @media(min-width: 1024px) and (max-width: 1280px){  
.faqQuestionRow p, .staticWrap p  {font-size: 1.6rem;}}
/* X-Large */ @media(min-width: 1280px) {  
.faqQuestionRow p, .staticWrap p  {font-size: 1.8rem;}}

.faqQuestionRow img {
    padding: 6px 0px;
}

.faqQdouble {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.faqQdouble div {
    width: 48%;
    height: 100%;
    position: relative;
}


.faqQdouble div img {
    width: 100%;         /* Let the image expand to the width */
    height: 100%;        /* Let the image expand to the height */
    object-fit: cover; /* Scales image while maintaining aspect ratio */
    object-position: center !important; 
}

.faqQuestionRow button, .faqQuestionRowStatic div  {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    letter-spacing:0;
    line-height:1.2;
    position:relative;
    background-color: transparent !important;
    text-wrap: balance;
    transition: all 0.2s ease-in-out;
}
.faqQuestionRow button  {
    color: #868686;
}
.faqQuestionRowStatic div  {
    color: #2A2A2A;
}
.carret {
    fill:none;
    stroke:#868686 !important;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2.5px;
    padding: 4px 0px;
}

.faqQuestionRow:hover button {
    font-family: "neue-haas-grotesk-display", sans-serif;
    color:#2A2A2A;
    transition: all 0.2s ease-in-out;
}

.faqQuestionRow:hover button .carret {
    stroke:#2A2A2A !important;
    stroke-width:3px
}

.faqQcontainer {
    border-bottom: 1px solid #7d7d7d;
    padding-bottom: 2px !important;
}
.accordian:active {
    color:#2A2A2A;
    transition: all 0.2s ease-in-out;
}

.faqAccordian:first-child.active {
    border-top: 1px solid #7d7d7d;
    padding-top: 14px !important;
}

.faqAccordian.active {
    border-top: 1px solid transparent !important;
    padding-top: 4px !important;
}

.active  {
    color: #2A2A2A !important;
}

.active .carret {
    transform: rotate(180deg);
    stroke:#2A2A2A !important;
    stroke-width:3px
}

.faqQuestionRow:hover .FAQcarret {
    fill:none;
    stroke:#2A2A2A;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2.5px
}



/* Advance - dotcom CSS Media Queries - Screen Sizes */
/* X-Small */            
    @media(max-width: 549px)
            {  
       .faqHeroContainer .faqBannerText .faqBodyheader {
            font-size:2.4rem;
            text-align: center;
            padding-bottom: 8px;
        }

.faqQuestionRow button  {
            font-size:1.6rem;
            text-align:center;
        }
.faqQuestionRowStatic div  {
            font-size:1.6rem;
            text-align:left;
        }

        }


/* Small */            
    @media(min-width: 549px)
            {
       .faqHeroContainer .faqBannerText .faqBodyheader {
            font-size:2.6rem;
            text-align: center;
            padding-bottom: 14px;
        }

.faqQuestionRow button {
            position:relative;
            font-size:1.6rem;
            text-align:center;
        }
.faqQuestionRowStatic div  {
            position:relative;
            font-size:1.6rem;
            text-align:left;
        }
        }

/* Medium */           
    @media(min-width: 768px)
            { 
.faqQuestionRow button, .faqQuestionRowStatic div  {
            font-size:2rem;
            text-align:left;
        }        
        }


/* Large */           
    @media(min-width: 1024px)
            {
.faqQuestionRow button, .faqQuestionRowStatic div  {
            font-size:2.4rem;
            text-align:left;
        }
.staticWrap {
    display: flex; 
    flex-direction: row;
}
.staticWrap .faqQuestionRowStatic {
    width: 50%;
    padding-right: 5%;
}
        }

        

/* X-Large */           
    @media(min-width: 1280px)
            {

       .faqHeroContainer .faqBannerText .faqBodyheader {
            font-size:4rem;
            text-align: left;
            padding-bottom: 20px;
            }

.faqQuestionRow button, .faqQuestionRowStatic div  {
            font-size:2.4rem;
            text-align:left;
            }
    }



/* FAQ CONTACTS STYLES */
.faqFillContacts {
    background-color: #ece9e1;
    background-image: linear-gradient(180deg, #ece9e1, #fff); 
    border-bottom: 1px solid #ffffff;
}

  .faqContactContainer {
        display: flex; 
        flex-direction:column;
        padding-bottom: 10px;
    }

  .faqContactWrapA, .faqContactWrapB, .faqContactWrapC {
        width: 100%;
    }
.faqContactItem {
    min-width: 50%;
    margin-bottom: 3rem !important;

}

.faqContactItem .faqContactSite {
    margin: 10px 0px 6px;
    padding: 0 50px 0 0;
    text-wrap: balance !important;
}
.faqContactSite {
     font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 1.6rem;
    color: #2A2A2A;
    font-weight: 700;
    font-style: normal;
    letter-spacing:0;
    line-height:1.2;
    text-wrap: balance;   
}

.faqContactItem .siteLogo {
     display: flex;  
     justify-content: start; 
     align-items: left;    
    object-fit: cover; /* Scales image while maintaining aspect ratio */
    object-position: top;
    fill: #868686;
    margin-bottom: 1.4rem !important;
}


.faqContactIcons svg {
    fill: #bdbdbd;
    width: 3.2rem;
    height: 3.2rem;
      transition: all 0.2s ease !important;
}

.faqContactAddress div {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 1.4rem;
    color: #6a6a6a;
    font-weight: 500;
    font-style: normal;
    letter-spacing:0;
    line-height:1.4;
    text-wrap: balance;
    transition: all 0.2s ease !important;
}

.faqContactAddress {
    margin-top: 10px;
}

.faqContactIcons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}



.faqContactURL a {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 1.4rem;
    color: #868686 !important;
    font-weight: 600;
    font-style: normal;
    letter-spacing:0;
    line-height:1.4;
    text-wrap: balance;
    transition: all 0.2s ease !important;
}

.faqContactContainer:hover .faqContactItem {
opacity: 10%;
}

.faqContactContainer .faqContactItem:hover {
opacity: 100%;
z-index: 10;
}
.faqContactContainer .faqContactItem:hover .siteLogo {
background-color: #003649;
fill: #f8f8f8;
}




.faqContactContainer .faqContactItem {
opacity: 100%;
outline: 7px solid  rgba(255, 255, 255, 0);
transition: all 0.3s ease !important;
}

.faqFillContacts .faqHeroContainer {
    margin-top: 6vw; 
    margin-bottom: 0;
}

.faqFillContacts .faqBodyheader {
text-align: left !important;
margin-bottom: 10px;
}




/* Advance - dotcom CSS Media Queries - Screen Sizes */
/* X-Small */            
    @media(max-width: 549px)
            {  

        }


/* Small */            
    @media(max-width: 767px)
            {
.faqFillContacts .faqBannerText {

}

  .faqContactContainer {
        display: flex; 
        flex-direction:column
    }

  .faqContactWrapA {
        display: flex; 
        flex-direction:column
    }

  .faqContactWrapB {
        display: flex; 
        flex-direction:column
    }

  .faqContactWrapC {
        display: flex; 
        flex-direction:column
    }

    .faqContactItem {
        display: block;
        padding-left: calc(10rem + 20px);
    }
.siteLogo {
        position: absolute;
        margin-left: calc(-10rem + -20px);
        width: 10rem;
        height: 10rem;
}
.faqContactSite, .faqContactURL, .faqContactAddress {
        position: relative;
        margin-top: 0 !important;
}
.faqContactAddress div {
    display: inline-block;
    padding-right: 1px;
}
.faqCustHead {
    padding: 1rem 0px 2rem 0px !important;
    margin: 0 !important;
    text-align: left !important;
}

        }

/* Medium */           
    @media(min-width: 768px)
            {
  .faqContactContainer {
        display: flex; 
        flex-direction:column
    }

  .faqContactWrapA {
        display: flex; 
        flex-direction:column
    }

  .faqContactWrapB {
        display: flex; 
        flex-direction:row;
    }

  .faqContactWrapC {
        display: flex; 
        flex-direction:column
    }

    .faqContactItem {
        display: block;
        padding-left: calc(7rem + 20px);
    }
.siteLogo {
        position: absolute;
        margin-left: calc(-7rem + -20px);
        width: 7rem;
        height: 7rem;
}
.faqContactSite, .faqContactURL, .faqContactAddress {
        position: relative;
        margin-top: 0 !important;
}
.faqContactAddress div {
    display: inline-block;
    padding-right: 1px;
}
.faqContactAddress div:nth-child(3) {
      display: block;
}

        }


/* Large */           
    @media(min-width: 1024px)
            {
  .faqContactContainer {
        display: flex; 
        flex-direction:column
    }

  .faqContactWrapA {
        display: flex; 
        flex-direction:row
    }

  .faqContactWrapB {
        display: flex; 
        flex-direction:row;

    }

  .faqContactWrapC {
        display: flex; 
        flex-direction:column
    }

    .faqContactItem {
        display: block;
        padding-left: 0;
    }
.siteLogo {
        position: relative;
        margin-left: 0;
        width: 8rem ;
        height: 8rem;
}
.faqContactSite, .faqContactURL, .faqContactAddress {
        position: relative;
        margin-top: 0 !important;
}
.faqContactAddress div {
    display: block;
    padding-right: 10px;
}


        }


/* X-Large */           
    @media(min-width: 1280px)
            {
  .faqContactContainer {
        display: flex; 
        flex-direction:column
    }

  .faqContactWrapA {
        display: flex; 
        flex-direction:row
    }

  .faqContactWrapB {
        display: flex; 
        flex-direction:row
    }

  .faqContactWrapC {
        display: flex; 
        flex-direction:row;
    }
    }

    .subButton a {
        display: flex;
        background-color: transparent;
        text-decoration: none;    
        border-radius: 30px;  
        transition: all 0.2s ease-out;
    }
    .subButton p {
        margin: 0 !important;
        padding: 10px 20px;
        border-radius: 30px;  
        background-color: #e3e1e1; 
    }
    .subButton a:hover {
        background-color: #e3e1e1; 
        transition: all 0.2s ease-out;
    }
    .subButton a:hover p {
        background-color: #e3e1e1; 
    }





/* TEXT STYLES */
.faqHeaderBig {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing:0;
    line-height:1.2;
}


.textFAQbox .faqHeaderBig {
  text-wrap: balance;
    padding-top: 2rem;
    padding-bottom: 30px;
} 
.textFAQbox .faqHeaderBig .headerUnderline {
    display: inline !important; 
    border-bottom: 10px solid #787878
}


/* X-Small */ @media(max-width: 549px){  
    .faqHeaderBig {font-size: 32px;}}
/* Small */ @media(min-width: 549px) and (max-width: 768px){  
    .faqHeaderBig {font-size: 36px;}}
/* Medium */ @media(min-width: 768px) and (max-width: 1024px){  
    .faqHeaderBig {font-size: 48px;}}
/* Large */ @media(min-width: 1024px) and (max-width: 1280px){  
    .faqHeaderBig {font-size: 54px;}}
/* X-Large */ @media(min-width: 1280px) {  
    .faqHeaderBig {font-size: 54px;}}

/* UPDATED BODY Q & A STYLES */
.containerFAQbody {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 20px;
}

.imageFAQbox {
  flex: 1;
}

.textFAQbox {
  flex: 2;
}

.imageFAQbox img {
  width: 100%;
  height: auto;
}

.textFAQbox .faqHeaderBig {
  text-wrap: balance;
    padding-top: 2rem;
} 

.textFAQheader {
    position: absolute; 
}


/* X-Small */ @media(max-width: 549px){  
    .faqFillShaded .containerFAQbody, .faqFillNone .containerFAQbody {
        flex-direction: column; padding-top: 20px;}
    .imageFAQbox  {width: 60%;}
    .textFAQheader {
        position: absolute; 
        width: calc(100% - 4rem); 
        height: 90px;}
    .textFAQtext {
        margin-top: 90px;}
    }

/* Small */ @media(min-width: 549px) and (max-width: 768px){  
    .faqFillShaded .containerFAQbody, .faqFillNone .containerFAQbody {
        flex-direction: column; padding-top: 20px;}
    .imageFAQbox  {width: 60%;}
    .textFAQheader {
        position: absolute; 
        width: calc(549px - 4rem); 
        height: 100px;}
    .textFAQtext {
        margin-top: 100px;}
}

/* Medium */ @media(min-width: 768px) and (max-width: 1024px){  
    .faqFillShaded .containerFAQbody, .faqFillNone .containerFAQbody {
        flex-direction: row-reverse; padding-top: 0px;}
    .textFAQheader {
        position: absolute; 
        width: calc(768px - 4rem); 
        height: 120px;}
    .textFAQtext {
        margin-top: 120px;}
    }
    
/* Large */ @media(min-width: 1024px) and (max-width: 1280px){  
    .faqFillShaded .containerFAQbody, .faqFillNone .containerFAQbody {
        flex-direction: row-reverse; 
        padding-top: 0px;}
    .textFAQheader {
        position: absolute; 
        width: calc(1024px - 4rem); 
        height: 120px;}
    .textFAQtext {
        margin-top: 120px;}
    }

/* X-Large */ @media(min-width: 1280px) {  
    .faqFillShaded .containerFAQbody {flex-direction: row-reverse;}
    .faqFillNone .containerFAQbody {flex-direction: row;}
    .textFAQheader {
        position: absolute; 
        width: calc(1280px - 4rem); 
        height: 120px;}
    .textFAQtext {
        margin-top: 120px;}
}

    



.faqCarret {
    fill:none;
    stroke:#2A2A2A !important;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2.5px;
    padding: 4px 0px;
}

.active .faqCarret {
    transform: rotate(180deg);
    stroke-width:2.5px
}
.accordionFAQ {
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: transparent !important;
}

.firstAccordion .accordionFAQbutton:not(.collapsed)::before {
  height: 0px !important;
}
.firstAccordion .accordionFAQbutton:not(.collapsed) {
  margin-top: 0;
  padding-top: 0;
}
.accordionFAQ {
  --bs-accordionFAQ-transition: all 0.15s ease-in-out;
  --bs-accordionFAQ-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

}


.accordionFAQbutton {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
    position: relative;
    text-wrap: balance;
    position: relative;
    display: inline;
    width: 100%;
    color: #2A2A2A;
    text-align: left;
    background-color: var(--bs-accordionFAQ-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: all 0.15s ease-in-out;
}
    @media(max-width: 549px){  
    .accordionFAQbutton {font-size: 20px;}}
    @media(min-width: 549px) and (max-width: 768px){  
    .accordionFAQbutton {font-size: 20px;}}
    @media(min-width: 768px) and (max-width: 1024px){  
    .accordionFAQbutton {font-size: 20px;}}
    @media(min-width: 1024px) and (max-width: 1280px){  
    .accordionFAQbutton {font-size: 24px;}}
    @media(min-width: 1280px) {  
    .accordionFAQbutton {font-size: 2.5rem;}}

@media (prefers-reduced-motion: reduce) {
  .accordionFAQbutton {
    transition: none;
  }
}
.accordionFAQbutton:not(.collapsed) {
      color: #0169ba;
    margin-top: 1rem;
    padding-top: 2rem;
    position: relative;
    transition: var(--bs-accordionFAQ-transition);
}

.accordionFAQbutton:not(.collapsed)::before {
  content: "";
  background: #0169ba;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 70%;
    transition: var(--bs-accordionFAQ-transition);
}
.accordionFAQbutton:not(.collapsed) .faqCarret{
     stroke:#0169ba !important;
    transition: var(--bs-accordionFAQ-transition);
}

@media (prefers-reduced-motion: reduce) {
  .accordionFAQbutton::after {
    transition: none;
  }
}
.accordionFAQbutton:hover {
  z-index: 2;
}
.accordionFAQbutton:focus {
  z-index: 3;
  outline: 0;
  box-shadow: var(--bs-accordionFAQ-btn-focus-box-shadow);
}

.accordionFAQitem {
    padding-bottom: 1px;
    margin-bottom: 1px;

}
.accordionFAQitem:first-of-type {
  border-top-left-radius: var(--bs-accordionFAQ-border-radius);
  border-top-right-radius: var(--bs-accordionFAQ-border-radius);
}
.accordionFAQitem:first-of-type > .accordionFAQheader .accordionFAQbutton {
  border-top-left-radius: var(--bs-accordionFAQ-inner-border-radius);
  border-top-right-radius: var(--bs-accordionFAQ-inner-border-radius);
}
.accordionFAQitem:not(:first-of-type) {
  border-top: 0;
}
.accordionFAQitem:last-of-type {
  border-bottom-right-radius: var(--bs-accordionFAQ-border-radius);
  border-bottom-left-radius: var(--bs-accordionFAQ-border-radius);
}
.accordionFAQitem:last-of-type > .accordionFAQheader .accordionFAQbutton.collapsed {
  border-bottom-right-radius: var(--bs-accordionFAQ-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordionFAQ-inner-border-radius);
}
.accordionFAQitem:last-of-type > .accordionFAQ-collapse {
  border-bottom-right-radius: var(--bs-accordionFAQ-border-radius);
  border-bottom-left-radius: var(--bs-accordionFAQ-border-radius);
}

.accordionFAQbody {
  padding-top: 1px;
}
        .accordionFAQbody {
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 500;
            letter-spacing:0;
            line-height:1.4;
            position:relative;
            color: #0169ba;
            background-color: transparent !important;
            text-wrap: pretty;
            text-align: left;
            }
            @media(max-width: 549px){  
            .accordionFAQbody {font-size: 12px;}}
            @media(min-width: 549px) and (max-width: 768px){  
            .accordionFAQbody {font-size: 14px;}}
            @media(min-width: 768px) and (max-width: 1024px){  
            .accordionFAQbody {font-size: 16px;}}
            @media(min-width: 1024px) and (max-width: 1280px){  
            .accordionFAQbody {font-size: 1.6rem;}}
            @media(min-width: 1280px) {  
            .accordionFAQbody {font-size: 2rem;}}

/* FAQ ANSWER BUTTONS */

        .faqHow {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 70%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-bottom: 2rem;
        }

        .faqHow  {
            border-bottom: 1px solid #0169ba;
        }
        .faqHow .faqHowItem {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .faqHow svg {
            flex-direction: row;
            align-self: center;
        }

        .faqFillShaded .faqHow a svg {
            fill: #ece9e1;
            background-color: #0169ba;
            border-radius: 50%;
            border: 2px solid #0169ba;
            transition: all 0.1s ease-in-out;
        }

        .faqFillNone .faqHow a svg {
            fill: #f8f5f0;
            background-color: #0169ba;
            border-radius: 50%;
            border: 2px solid #0169ba;
            transition: all 0.1s ease-in-out;
        }

        .faqFillNone .faqHow a:hover svg {
            fill: #0169ba;
            background-image: radial-gradient(circle, #f8f5f0 60%, #0169ba 70%);
            border: 2px solid #0169ba;
            transition: all 0.1s ease-in-out;
        }

        .faqFillShaded .faqHow a:hover svg {
            fill: #0169ba;
            background-image: radial-gradient(circle, #ece9e1 60%, #0169ba 70%);
            border: 2px solid #0169ba;
            transition: all 0.1s ease-in-out;
        }

        .faqHowText {
            display: inline-block; /* Keeps the container bound to text width */
            overflow: hidden;      /* Prevents any layout bleeding */
        }

        .faqHowText span {
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 600;
            font-size: 1.6rem;
            position:relative;
            color:  #0169ba;
            margin: 0 10px;
            display: inline-block;
            white-space: nowrap;   /* Ensures text stays on a single line */
            /* Shorthand: name | duration | timing | delay | fill-mode */
            animation: clippath 1.5s ease-in-out 4s forwards;
        }

.accordionFAQheader .collapsed {
    color: #2A2A2A;
}

.faqBannerText div a {
  transition: all  0.3s ease-in-out;
    text-shadow: 0 0 10px #00b7ff00; /* X-offset Y-offset Blur Color */
}

.faqBannerText:hover div a {
color: #000000;
/* Syntax: property | duration | timing-function | delay */
  transition: all 0.3s ease-in-out;
    text-shadow: 0 0 50px #00b7ff00; /* X-offset Y-offset Blur Color */
}


.faqSectionImg div {
    position: absolute;
    z-index: 500;
    right: 0;
    top: 0;
    pointer-events: none;
    overflow: hidden; /* Recommended to prevent accidental layout spill */
    transition: all 0.8s ease-in-out;
}
    @media(max-width: 549px){  
        .faqSectionImg div {padding-top: 70px; width: 85%; height: 100vw;}}
    @media(min-width: 549px) and (max-width: 768px){  
        .faqSectionImg div {padding-top: 154px; width: 80%; height: 100vw;}}
    @media(min-width: 768px) and (max-width: 1024px){  
        .faqSectionImg div {padding-top: 154px; width: 53%; height: 80vw;}}
    @media(min-width: 1024px) and (max-width: 1280px){  
        .faqSectionImg div {padding-top: 154px; width: 53%; height: 80%;}}
    @media(min-width: 1280px) {  
        .faqSectionImg div {padding-top: 154px; width: 53%; height: 100vh;}}


.faqSectionImg div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    filter: drop-shadow(-30px 10px 14px #1414145f);
    transform: scaleX(-1);
    will-change: transform;
    translate: 80px 10px; /* Moves 50px right and 20px down */
  transition: all 0.8s ease-in-out;
}

.faqOverlayImgZZ {
    position: absolute;
    width: calc(50% + -640px + 570px); 
    height: 100%;
    max-height: 100vh;
    pointer-events: none;
}
.faqOverlayImgZZ img {
  width: 100%;
  height: 80%;
  object-fit: cover !important;
object-position: right bottom;
filter: drop-shadow(30px 10px 14px #141414);
  transition: all 0.8s ease-in-out;
  will-change: transform;
      transform: rotateZ(0deg) translate(0px, -17%);
          translate: 0px 50px; /* Moves 50px right and 20px down */
}

.faqOverlayImg {
    position: absolute;
    width: 800px; 
    height: 800px;
    margin-top: 80px;
    margin-left: calc(50% + -1280px); ;
    top: 0;
    left: 0;
    pointer-events: none;
}
.faqOverlayImg img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
  filter: drop-shadow(30px 10px 14px #14141448);
  transition: all 0.3s ease-in-out;
  will-change: transform;
      transform: rotateZ(0deg) translate(30%, 0%);
}



.hoverBlue:hover, .hoverBlue:hover a {
    color: #00b7ff !important;
    text-shadow: 0 0 30px #00b7ff !important; /* X-offset Y-offset Blur Color */
}

.hoverGold:hover, .hoverGold:hover a {
    color: #ffca2b !important;
    text-shadow: 0 0 30px #ffca2b !important; /* X-offset Y-offset Blur Color */
}

.hoverRed:hover, .hoverRed:hover a {
    color: #ff5e5e !important;
    text-shadow: 0 0 30px #ff5e5e !important; /* X-offset Y-offset Blur Color */
}

.hoverGreen:hover, .hoverGreen:hover a {
    color: #92ff5c !important;
    text-shadow: 0 0 30px #92ff5c !important; /* X-offset Y-offset Blur Color */
}

.hoverViolet:hover, .hoverViolet:hover a {
    color: #bc69ff !important;
    text-shadow: 0 0 30px #bc69ff !important; /* X-offset Y-offset Blur Color */
}

.hoverOrange:hover, .hoverOrange:hover a {
    color: #ff8819 !important;
    text-shadow: 0 0 30px #ff8819 !important; /* X-offset Y-offset Blur Color */
}




#faqNavBar.top-sticky .hoverBlue .navFAQlink.active, #faqNavBar.top-sticky .hoverBlue .navFAQlink:hover, #faqNavBar.top-sticky .hoverBlue .navFAQlink.active:hover  {
    color: #00b7ff !important;
    border-bottom: 10px solid #00b7ff !important;
}

#faqNavBar.top-sticky .hoverGold .navFAQlink.active, #faqNavBar.top-sticky .hoverGold .navFAQlink:hover, #faqNavBar.top-sticky .hoverGold .navFAQlink.active:hover  {
    color: #ffca2b !important;
    border-bottom: 10px solid #ffca2b !important;
}

#faqNavBar.top-sticky .hoverRed .navFAQlink.active, #faqNavBar.top-sticky .hoverRed .navFAQlink:hover, #faqNavBar.top-sticky .hoverRed .navFAQlink.active:hover {
    color: #ff5e5e !important;
    border-bottom: 10px solid #ff5e5e !important;
}

#faqNavBar.top-sticky .hoverGreen .navFAQlink.active, #faqNavBar.top-sticky .hoverGreen .navFAQlink:hover, #faqNavBar.top-sticky .hoverGreen .navFAQlink.active:hover  {
    color: #92ff5c !important;
    border-bottom: 10px solid #92ff5c !important;
}

#faqNavBar.top-sticky .hoverViolet .navFAQlink.active, #faqNavBar.top-sticky .hoverViolet .navFAQlink:hover, #faqNavBar.top-sticky .hoverViolet .navFAQlink.active:hover  {
    color: #bc69ff !important;
    border-bottom: 10px solid #bc69ff !important;
}

#faqNavBar.top-sticky .hoverOrange .navFAQlink.active, #faqNavBar.top-sticky .hoverOrange .navFAQlink:hover, #faqNavBar.top-sticky .hoverOrange .navFAQlink.active:hover  {
    color: #ff8819 !important;
    border-bottom: 10px solid #ff8819 !important;
}


#faqNavBar.bottom-sticky .hoverBlue .navFAQlink.active {
    color: #00b7ff !important;
}

#faqNavBar.bottom-sticky .hoverGold .navFAQlink.active {
    color: #ffca2b !important;
}

#faqNavBar.bottom-sticky .hoverRed .navFAQlink.active {
    color: #ff5e5e ;
}

#faqNavBar.bottom-sticky .hoverGreen .navFAQlink.active {
    color: #92ff5c ;
}

#faqNavBar.bottom-sticky .hoverViolet .navFAQlink.active {
    color: #bc69ff ;
}

#faqNavBar.bottom-sticky .hoverOrange .navFAQlink.active {
    color: #ff8819 ;
}
#faqNavBar.bottom-sticky .hoverOrange .navFAQlink {
    color: #535353 ;
}

.bodyBlue .accordionFAQbutton:not(.collapsed) {
      color: #007bab !important;
}
.bodyBlue .accordionFAQbutton:not(.collapsed)::before {
  background: #007bab !important;
}
.bodyBlue .accordionFAQbutton:not(.collapsed) .faqCarret{
     stroke:#007bab !important;
}
.bodyBlue .accordionFAQbody {
    color: #007bab !important;
}
.bodyBlue .faqHow  {
    border-bottom: 1px solid #007bab !important;
}
.bodyBlue .faqHow a svg {
    background-color: #007bab !important;
    border: 2px solid #007bab !important;
}
.bodyBlue .faqHow a:hover svg {
    fill: #007bab !important;
    background-image: radial-gradient(circle, #ece9e1 60%, #007bab 70%) !important;
    border: 2px solid #007bab !important;
        }
.bodyBlue .faqHowText span {
    color:  #007bab !important;
}


.bodyGold .accordionFAQbutton:not(.collapsed) {
      color: #ab871d !important;
}
.bodyGold .accordionFAQbutton:not(.collapsed)::before {
  background: #ab871d !important;
}
.bodyGold .accordionFAQbutton:not(.collapsed) .faqCarret{
     stroke:#ab871d !important;
}
.bodyGold .accordionFAQbody {
    color: #ab871d !important;
}
.bodyGold .faqHow  {
    border-bottom: 1px solid #ab871d !important;
}
.bodyGold .faqHow a svg {
    background-color: #ab871d !important;
    border: 2px solid #ab871d !important;
}
.bodyGold .faqHow a:hover svg {
    fill: #ab871d !important;
    background-image: radial-gradient(circle, #ece9e1 60%, #ab871d 70%) !important;
    border: 2px solid #ab871d !important;
        }
.bodyGold .faqHowText span {
    color:  #ab871d !important;
}



.bodyRed .accordionFAQbutton:not(.collapsed) {
      color: #ab3f3f !important;
}
.bodyRed .accordionFAQbutton:not(.collapsed)::before {
  background: #ab3f3f !important;
}
.bodyRed .accordionFAQbutton:not(.collapsed) .faqCarret{
     stroke:#ab3f3f !important;
}
.bodyRed .accordionFAQbody {
    color: #ab3f3f !important;
}
.bodyRed .faqHow  {
    border-bottom: 1px solid #ab3f3f !important;
}
.bodyRed .faqHow a svg {
    background-color: #ab3f3f !important;
    border: 2px solid #ab3f3f !important;
}
.bodyRed .faqHow a:hover svg {
    fill: #ab3f3f !important;
    background-image: radial-gradient(circle, #ece9e1 60%, #ab3f3f 70%) !important;
    border: 2px solid #ab3f3f !important;
        }
.bodyRed .faqHowText span {
    color:  #ab3f3f !important;
}



.bodyGreen .accordionFAQbutton:not(.collapsed) {
      color: #62ab3e !important;
}
.bodyGreen .accordionFAQbutton:not(.collapsed)::before {
  background: #62ab3e !important;
}
.bodyGreen .accordionFAQbutton:not(.collapsed) .faqCarret{
     stroke:#62ab3e !important;
}
.bodyGreen .accordionFAQbody {
    color: #62ab3e !important;
}
.bodyGreen .faqHow  {
    border-bottom: 1px solid #62ab3e !important;
}
.bodyGreen .faqHow a svg {
    background-color: #62ab3e !important;
    border: 2px solid #62ab3e !important;
}
.bodyGreen .faqHow a:hover svg {
    fill: #62ab3e !important;
    background-image: radial-gradient(circle, #ece9e1 60%, #62ab3e 70%) !important;
    border: 2px solid #62ab3e !important;
        }
.bodyGreen .faqHowText span {
    color:  #62ab3e !important;
}



.bodyViolet .accordionFAQbutton:not(.collapsed) {
      color: #652b9e !important;
}
.bodyViolet .accordionFAQbutton:not(.collapsed)::before {
  background: #652b9e !important;
}
.bodyViolet .accordionFAQbutton:not(.collapsed) .faqCarret{
     stroke:#652b9e !important;
}
.bodyViolet .accordionFAQbody {
    color: #652b9e !important;
}
.bodyViolet .faqHow  {
    border-bottom: 1px solid #652b9e !important;
}
.bodyViolet .faqHow a svg {
    background-color: #652b9e !important;
    border: 2px solid #652b9e !important;
}
.bodyViolet .faqHow a:hover svg {
    fill: #652b9e !important;
    background-image: radial-gradient(circle, #ece9e1 60%, #652b9e 70%) !important;
    border: 2px solid #652b9e !important;
        }
.bodyViolet .faqHowText span {
    color:  #652b9e !important;
}



.bodyOrange .accordionFAQbutton:not(.collapsed) {
      color: #ab5b11 !important;
}
.bodyOrange .accordionFAQbutton:not(.collapsed)::before {
  background: #ab5b11 !important;
}
.bodyOrange .accordionFAQbutton:not(.collapsed) .faqCarret{
     stroke:#ab5b11 !important;
}
.bodyOrange .accordionFAQbody {
    color: #ab5b11 !important;
}
.bodyOrange .faqHow  {
    border-bottom: 1px solid #ab5b11 !important;
}
.bodyOrange .faqHow a svg {
    background-color: #ab5b11 !important;
    border: 2px solid #ab5b11 !important;
}
.bodyOrange .faqHow a:hover svg {
    fill: #ab5b11 !important;
    background-image: radial-gradient(circle, #ece9e1 60%, #ab5b11 70%) !important;
    border: 2px solid #ab5b11 !important;
        }
.bodyOrange .faqHowText span {
    color:  #ab5b11 !important;
}

.bodyOrange .faqContactItem .siteLogo {
    background-color: #ff8819;
    fill: #f8f8f8 !important;
}
.bodyOrange .faqContactContainer:hover .faqContactItem .siteLogo {
    background-color: transparent;
    fill: #6a6a6a !important;
}
.bodyOrange .faqContactContainer .faqContactItem:hover .siteLogo {
    background-color: #f3f1ed;
    fill: #ab5b11 !important;
}

.bodyOrange .faqContactIcons svg {
    fill: #bdbdbd;
}

.bodyOrange .faqContactIcons div:hover a, .bodyOrange .faqContactURL:hover a {
    color: #ab5b11 !important;
      transition: all 0.2s ease !important;
}

.faqContactIcons div:hover svg {
    fill: #ab5b11;
      transition: all 0.2s ease !important;
}

.faqContactURL a {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 1.4rem;
    color: #868686 !important;
    font-weight: 600;
    font-style: normal;
    letter-spacing:0;
    line-height:1.4;
    text-wrap: balance;
    transition: all 0.2s ease !important;
}
.faqContactContainer .faqContactItem .faqContactIcons svg{
            fill: #fff;
            background-color: #868686;
            border-radius: 50%;
            border: 2px solid #868686;
            transition: all 0.1s ease-in-out;
}

.faqContactIcons div {
    margin-right: 6px !important;
}

.bodyOrange .faqContactContainer .faqContactItem:hover .faqContactSite{
    color: #ab5b11 !important;
}

.bodyOrange .faqContactContainer .faqContactItem:hover .faqContactURL a{
    color: #ab5b11 !important;
}

.bodyOrange .faqContactContainer .faqContactItem:hover .faqContactAddress div{
    color: #ab5b11 !important;
}

.bodyOrange .faqContactContainer .faqContactItem:hover .faqContactIcons svg{
    fill: #fff;
    background-color: #ab5b11;
    border: 2px solid #ab5b11;
}

.bodyOrange .faqContactContainer .faqContactItem .faqContactIcons div:hover svg{
    fill: #ab5b11;
    background-image: radial-gradient(circle, #ece9e1 60%, #ab5b11 70%) !important;
    border: 2px solid #ab5b11;
}

.faqFillContacts .faqHeaderBig {
    padding-top: 20px;
}

.bodyBlue .textFAQbox .faqHeaderBig .headerUnderline {
    display: inline !important; 
    border-bottom: 10px solid #00b7ff
}

.bodyGold .textFAQbox .faqHeaderBig .headerUnderline {
    display: inline !important; 
    border-bottom: 10px solid #ffca2b
}

.bodyRed .textFAQbox .faqHeaderBig .headerUnderline {
    display: inline !important; 
    border-bottom: 10px solid #ff5e5e
}

.bodyGreen .textFAQbox .faqHeaderBig .headerUnderline {
    display: inline !important; 
    border-bottom: 10px solid #92ff5c
}

.bodyViolet .textFAQbox .faqHeaderBig .headerUnderline {
    display: inline !important; 
    border-bottom: 10px solid #bc69ff
}

.bodyOrange .headerUnderline {
    display: inline !important; 
    border-bottom: 10px solid #ff8819;
    margin-bottom: 40px;
}
