
/* X-SMALL */
@media (max-width: 549px) {
  .sectionFAQImg div {
    width: 620px;
  }
  .sectionFAQImg div img {
    translate: 96px 30px;
    transform: rotate(15deg);
  }
}

/* SMALL */
@media (550px <= width <= 767px) {
  .sectionFAQImg div {
    width: 700px;
  }
  .sectionFAQImg div img {
    translate: 30px -30px;
    transform: rotate(5deg);
  }
}

/* MEDIUM */
@media (768px <= width <= 1023px) {
  .sectionFAQImg div {
    width: 900px;
  }
  .sectionFAQImg div img {
    translate: 0 -20%;
    transform: rotate(0deg);
  }
}

/* LARGE */
@media (1024px <= width <= 1279px) {
  .sectionFAQImg div {
    width: 1024px;
  }
  .sectionFAQImg div img {
    translate: 40% -80px;
    transform: rotate(20deg);
  }
}

/* X-LARGE */
@media (min-width: 1280px) {
  .sectionFAQImg div {
    width: 1080px;
  }
  .sectionFAQImg div img {
    translate: 40% -100px;
    transform: rotate(10deg);
  }
}
.sectionFAQImg div {
  height: auto;
}
.sectionFAQImg div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  transition: all 0.2s ease;
}
.sectionFAQImg div {
  animation: mag-onscroll linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes mag-onscroll {
  from {
    transform: translateY(0px) scale(1);
    filter: blur(0px);
  }
  to {
    transform: translateY(-200px) scale(1.86);
    filter: blur(3px);
  }
}
.sectionFAQImg div img {
  animation: shado-onscrollNil linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes shado-onscrollNil {
  from {filter: hue-rotate(0deg) saturate(1) drop-shadow(-30px 10px 14px #1414145f);}
  to {filter: drop-shadow(-60px 100px 4px #141414);}
}
body:has(.faqBannerText .hoverGold:hover) .sectionFAQImg div img {
  transition: all 0.2s ease-in-out;
  animation: shado-onscrollGold linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes shado-onscrollGold {
  from {filter: hue-rotate(220deg) saturate(2) drop-shadow(-30px 10px 14px #1414145f);}
  to {filter: drop-shadow(-60px 100px 4px #141414);}
}
body:has(.faqBannerText .hoverRed:hover) .sectionFAQImg div img {
  transition: all 0.2s ease-in-out;
  animation: shado-onscrollRed linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes shado-onscrollRed {
  from {filter: hue-rotate(160deg) saturate(2) drop-shadow(-30px 10px 14px #1414145f);}
  to {filter: drop-shadow(-60px 100px 4px #141414);}
}
body:has(.faqBannerText .hoverGreen:hover) .sectionFAQImg div img {
  transition: all 0.2s ease-in-out;
  animation: shado-onscrollGreen linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes shado-onscrollGreen {
  from {filter: hue-rotate(-70deg) saturate(2) drop-shadow(-30px 10px 14px #1414145f);}
  to {filter: drop-shadow(-60px 100px 4px #141414);}
}
body:has(.faqBannerText .hoverViolet:hover) .sectionFAQImg div img {
  transition: all 0.2s ease-in-out;
  animation: shado-onscrollViolet linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes shado-onscrollViolet {
  from {filter: hue-rotate(90deg) saturate(2) drop-shadow(-30px 10px 14px #1414145f);}
  to {filter: drop-shadow(-60px 100px 4px #141414);}
}
body:has(.faqBannerText .hoverOrange:hover) .sectionFAQImg div img {
  transition: all 0.2s ease-in-out;
  animation: shado-onscrollOrange linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes shado-onscrollOrange {
  from {filter: hue-rotate(180deg) saturate(2) drop-shadow(-30px 10px 14px #1414145f);}
  to {filter: drop-shadow(-60px 100px 4px #141414);}
}
body:has(.faqBannerText .hoverHome:hover) .sectionFAQImg div img {
  transition: all 0.2s ease-in-out;
  animation: shado-onscrollHome linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
@keyframes shado-onscrollHome {
  from {filter: grayscale(1) brightness(110%) contrast(105%) drop-shadow(-30px 10px 14px #1414145f);}
  to {filter: drop-shadow(-60px 100px 4px #141414);}
}

<header class="faqARTcontainer faqBODYwrapper" style="pointer-events: none; touch-action: none; ">
        <div class="faqARTwrapper">
            <div>
                <img src="images/magGlassWorked.png" alt="Magnifying Glass">
            </div>
        </div>
</header>





/* SMALL */
@media (width <= 767px) {
.faqBODYnavitem {
    font-size: 16px;
  }
.faqHEROwrapper {
    padding: 9.375rem 0 1.25rem 2.25rem;
    gap: 5rem;
}
.faqQUESTIONcontainer {
    padding-left: 2.25rem;
}

}

/* MEDIUM */
@media (768px <= width <= 1023px) {
.faqBODYnavitem {
    font-size: 17px;
  }
}

/* LARGE */
@media (1024px <= width <= 1279px) {
.faqBODYnavitem {
    font-size: 18px;
  }
}

/* X-LARGE */
@media (min-width: 1280px) {
.faqBODYnavitem {
    font-size: 18px;
  }
}

.sectionFAQmag {
  position: absolute;
width: 90cqw;
  overflow-x: clip;
  overflow-y: visible;
  z-index: 70;
}
.sectionFAQImg {
    transform: translateX(-5%);
  padding: 1rem 0 0 13.875rem;
}

@media (width <= 767px) {
.sectionFAQImg {
  padding: 6.25rem 0 0 0;
}
}

.sectionFAQImg div {
  width: clamp(43.75rem, 100vw, 67.5rem);
  height: auto;
  animation: mag-onscroll linear both;
  animation-timeline: scroll();
  animation-range: 0px 130vh;
}
.sectionFAQImg div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  transition: all 0.2s ease;
}
@keyframes mag-onscroll {
  from {
    transform: translateY(0px) scale(1);
    filter: blur(0px);
  }
  to {
    transform: translateY(20px) translateX(3000px) scale(3.86);
    filter: blur(3px);
  }
}