.faqTXTsmall {
    font-size: 16px;
}
.faqADDcontacts {
    color: #404041;
}

    .faqGRIDcontactICON {
        margin-bottom: 10px;
      width: 50px;
      height: 50px;
     transition: all 0.2s ease-in-out;
    }
    .faqGRIDcontactICON svg {
        color: #ff8819;

     transition: all 0.2s ease-in-out;
    }

.faqSMALL p {
    font-size: 16px;
}
.faqSMALL div {
padding: 2px 0 !important;
}
.faqSMALL div a {
    gap: 5px;
}
.faqADDcontacts .faqGRIDlistCONTENT svg {
    fill: #6b6a69;
}