.faqHEROcontainer {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
          font-family: "neue-haas-grotesk-display", sans-serif;
}
.faqHEROcontainer h1 {
    margin: 0;
}
.faqBODYcontainer {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
      font-family: "neue-haas-grotesk-display", sans-serif;
}
  .faqBODYwrapper {
    width: 100%;
  }

.faqHEADbig {
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.2;
}
.faqHEADbig a {
  text-decoration: none;
}
.faqHEROtext .faqHEADbig {
  color: #00b7ff;
}
.faqHEROtext .faqHEADbig a {
  color: #686867;
}

/* X-SMALL */
@media (max-width: 549px) {
  .faqBODYwrapper {
    padding-left: calc((100vw - 549px) / 2 + 5%);
  }
.faqHEADbig {
  font-size: 28px;
}
}

/* SMALL */
@media (550px <= width <= 767px) {
  .faqBODYwrapper {
    padding-left: calc((100vw - 549px) / 2 + 5%);
  }
.faqHEADbig {
  font-size: 34px;
}
}

/* MEDIUM */
@media (768px <= width <= 1023px) {
  .faqBODYwrapper {
    padding-left: calc((100vw - 768px) / 2 + 5%);
  }
.faqHEADbig {
  font-size: 44px;
}
}

/* LARGE */
@media (1024px <= width <= 1279px) {
.faqBODYwrapper {
    padding-left: calc((100vw - 1024px) / 2 + 5%);
  }
.faqHEADbig {
  font-size: 54px;
}
}

/* X-LARGE */
@media (min-width: 1280px) {
  .faqBODYwrapper {
    margin-left: calc((100cqw - 1280px) / 2 + 5%);
  }
.faqHEADbig {
  font-size: 54px;
}
}

/* HERO */
.faqHEROback {
    background-image: linear-gradient(165deg, #0d0d0d, #262626, #262626);
filter: drop-shadow(0px 5px 10px #00000080);
}
.faqHEROwrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    overflow: hidden;
    padding: 300px 0 100px 0;
}
.faqHEROimg {
    grid-row-start: 1;
}

.faqHEROtext {
    grid-row-start: 2;
}
.faqHEROgrid {
    display: grid;
    width: 333px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    aspect-ratio: 1 / 1;
}
.faqHEROgriditem {
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqHEROgriditem svg {
    width: 100%;
    height: 100%;
    color: #00b7ff; 
}
.faqHEROgriditem:last-of-type svg {
    width: 100%;
    height: 100%;
    color: #3f3f3f; 
}

.faqBODYnav {
  display: flex;
  flex-wrap: nowrap;
  align-content: end;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}
.faqBODYnav::-webkit-scrollbar {
  height: 16px;
}
::-webkit-scrollbar-track {
  width: 30px !important;
  height: 100%;
}
::-webkit-scrollbar-thumb {
  height: 100%;
    width: 30px !important;
  background-image: linear-gradient(90deg,rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 20%);
  transition: all 0.1s ease;
}

::-webkit-scrollbar-thumb:hover {
    width: 30px;
  background-image: linear-gradient(0deg, #fcfaf8, #fcfaf8);
  transition: all 0.1s ease;
}
.faqBODYnavitem {
  align-items: end;
  display: flex;
  margin-right: 20px;
}
.faqBODYnavitem {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  border: 0;
  text-align: left;
  padding-bottom: 4px;
  height: 80px;
  padding-bottom: 6px;
  border-bottom: 10px solid transparent;
  transition: border-bottom 0.1s ease-in-out;
}
.faqBODYnavitem a {
  text-decoration: none;
  color: #969491;
  transition: color 0.1s ease-in-out;
}
.faqBODYnav:hover .faqBODYnavitem {
  border-bottom: 10px solid transparent;
}
.faqBODYnav:hover .faqBODYnavitem a {
  text-decoration: none;
  color: #c1bfb9;
}

.faqBODYnav .faqBODYnavitem:hover {
  border-bottom: 10px solid #404041;
}
.faqBODYnav .faqBODYnavitem:hover a {
  text-decoration: none;
  color: #404041;
}

/* SMALL */
@media (width <= 767px) {
.faqBODYnavitem {
    font-size: 16px;
  }
.faqHEROwrapper {
    padding: 9.375rem 0 1.25rem 2.25rem;
    gap: 5rem;
}
.faqQUESTIONcontainer {
    padding-left: 2.25rem;
}

}

/* MEDIUM */
@media (768px <= width <= 1023px) {
.faqBODYnavitem {
    font-size: 17px;
  }
}

/* LARGE */
@media (1024px <= width <= 1279px) {
.faqBODYnavitem {
    font-size: 18px;
  }
}

/* X-LARGE */
@media (min-width: 1280px) {
.faqBODYnavitem {
    font-size: 18px;
  }
}

.faqARTcontainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 200;
}

.faqARTmag {
  padding: 4.375rem 0 0 13.875rem;
}

.faqARTmag div {
  width: clamp(43.75rem, 80vw, 54.5rem);        /* Set your desired width */
  aspect-ratio: 1 /1.2;
}

.faqARTmag div img {
  transform: translateY(0px) translateX(0px) scale(1);
  width: 100%;         /* Stretch to container width */
  height: 100%;        /* Stretch to container height */
  object-fit: cover;   /* Crop and preserve aspect ratio */
  object-position: left top; /* Adjust focal point (e.g., top, bottom, 20% 50%) */
  animation: scaleAndMove linear both;
  animation-timeline: scroll(root); /* tracks the main window scroll */
  animation-range: exit;            /* animates while the element exits the view */
}
@keyframes scaleAndMove {
  from {
  transform: translateY(0px) translateX(0px) scale(1);
  }
  to {
    transform: translateY(20px) translateX(3000px) scale(3.86);
  }
}

@media (width <= 767px) {
.faqARTwrapper {
  width: calc(549px + ((100cqw - 549px) / 2));
  }
.faqARTmag {
  padding: 4.375rem 0 0 0;
}
}

/* MEDIUM */
@media (768px <= width <= 1023px) {
.faqARTwrapper {
  width: calc(767px + ((100cqw - 767px) / 2));
  }
.faqARTmag {
  padding: 6.375rem 0 0 10rem;
}
}

/* LARGE */
@media (1024px <= width <= 1279px) {
.faqARTwrapper {
  width: calc(1024px + ((100cqw - 1024px) / 2));
  }
}

/* X-LARGE */
@media (min-width: 1280px) {
.faqARTwrapper {
  width: calc(1280px + ((100cqw - 1280px) / 2));
  }
}



/* SECTIONS */
.faqBODYcontainer h1, .faqBODYcontainer h2, .faqBODYcontainer h3, .faqBODYcontainer h4, .faqBODYcontainer h5, .faqBODYcontainer p {
    margin: 0;
    padding: 0;
}
.faqBODYdark {
  background-color: #ece9e1;
  border-top: 1px solid #fcfaf8;
  padding: 5% 0 10% 0;
}
.faqBODYlight {
  background-color: #f8f5f0;
  border-top: 1px solid #fcfaf8;
  padding: 5% 0 10% 0;
}
.faqBODYdark .faqHEADbig, .faqBODYlight .faqHEADbig {
  color: #404041;
}
.faqBODYcontainer .faqHEADbig  {
    padding: 3rem 0;
}
.faqHEADbig .faqHEADunderline {
  display: inline !important;
  padding-bottom: 6px;
  border-bottom: 10px solid #787878;
}
.faqBODYBlue .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #00b7ff;
}
.faqBODYgold .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #f7be00;
}
.faqBODYred .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #ff5e5e;
}
.faqBODYgreen .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #84cc16;
}
.faqBODYviolet .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #bc69ff;
}
.faqBODYorange .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #ff8819;
}

.faqTXTquestion {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  text-wrap: balance;
  display: inline;
  text-align: left;
  border-radius: 0;
}

.faqQUESTIONwrapper details summary, 
.faqQUESTIONwrapper details p, 
.faqQUESTIONwrapper details div, 
.faqQUESTIONwrapper details svg, 
.faqQUESTIONwrapper details span {
  color: #404041;
  fill: #404041;

}


.faqTXTanswer {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.4;
  text-align: left;
  text-wrap: balance;
}
.faqTXTanswer strong {
  font-weight: 600;
}



/* X-SMALL */
@media (max-width: 549px) {
.faqTXTquestion {
    font-size: 18px;
  }
.faqTXTanswer {
    font-size: 16px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 15px;
  }
.faqQUESTIONwrapper {
    width: 100%;
}
}

/* SMALL */
@media (550px <= width <= 767px) {
.faqTXTquestion {
    font-size: 19px;
  }
.faqTXTanswer {
    font-size: 17px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 16px;
  }
.faqQUESTIONwrapper {
    width: 550px;
}
}

/* MEDIUM */
@media (768px <= width <= 1023px) {
.faqTXTquestion {
    font-size: 22px;
  }
.faqTXTanswer {
    font-size: 19px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 16px;
  }
.faqQUESTIONwrapper {
    width: 768px;
}
}

/* LARGE */
@media (1024px <= width <= 1279px) {
.faqTXTquestion {
    font-size: 24px;
  }
.faqTXTanswer {
    font-size: 20px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 18px;
  }
.faqQUESTIONwrapper {
    width: 1024px;
}
}

/* X-LARGE */
@media (min-width: 1280px) {
.faqTXTquestion {
    font-size: 26px;
  }
.faqTXTanswer {
    font-size: 22px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 20px;
  }
.faqQUESTIONwrapper {
    width: 1280px;
}
}

.faqQUESTIONwrapper summary {
  cursor: pointer;
  list-style: none; 
  display: inline-flex;
  align-items: center;
}
/* 1. Allow the browser to transition between lengths and keywords like 'auto' */
:root {
  interpolate-size: allow-keywords;
}

.faqQUESTIONwrapper details::details-content {
  block-size: 0;
  opacity: 0;
  transition: 
    block-size 0.4s ease, 
    opacity 0.4s ease, 
    content-visibility 0.4s ease allow-discrete;
}

/* 3. Style the visible state when the details element is [open] */
details[open]::details-content {
  block-size: auto;
  opacity: 1;
}

.faqQUESTIONwrapper .faqTXTquestion svg {
   padding: 0 0 0 10px;
   transition: all 0.2s ease-in-out;
}

/* Rotate arrow when open */
.faqQUESTIONwrapper details[open] .faqTXTquestion svg{
  transform: rotate(90deg) scale(1, 1.2);
   padding: 0 0 12px 2px;
}
.faqQUESTIONwrapper details[open] .faqInitial {
  transform: none;
  padding: 0 ;
}
.faqInitial {
    align-self: center;
}
/* Nested inner content container */
.faqQUESTIONwrapper .faqANSWERbox {
    position: relative; 
    padding: 10px 0 5px 0;
}
.faqQUESTIONwrapper .faqANSWERbox div {
  padding: 5px 0;
}
.faqQUESTIONwrapper details::before {
  content: "";
  display: block;
  width: 70%;
  height: 1px; 
  top: 0;
  background-color: transparent; 
  margin-bottom: 12px;
}
.faqQUESTIONwrapper details::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px; 
  bottom: 0;
  background-color: transparent; 
  margin-top: 12px;
}
.faqQUESTIONwrapper details[open]::before {
  content: "";
  display: block;
  width: 70%;
  height: 1px; 
  background-color: #c1bfb9; 
  margin-bottom: 24px;
}
.faqQUESTIONwrapper details[open]::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px; 
  background-color: #c1bfb9; 
}
.faqSUBaccordian::before {
  content: "";
  display: block;
  width: 70%;
  height: 0px !important; 
  background-color: #c1bfb9; 
  margin: 0 !important;
}
.faqSUBaccordian::after {
  content: "";
  display: block;
  width: 70%;
  height: 0px !important; 
  background-color: #c1bfb9; 
  margin: 0 !important;
}
.faqQUESTIONwrapper details:first-child[open]::before {
  content: "";
  display: block;
  width: 70%;
  height: 1px; 
  top: 0;
  background-color: transparent; 
  margin-bottom: 12px;
}
.faqQUESTIONwrapper details[open]:last-child::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px; 
  bottom: 0;
  background-color: transparent; 
  margin-top: 12px;
}
.faqQUESTIONwrapper:has(details[open])
  details:not([open]) {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}
.faqQUESTIONwrapper:has(details[open])
  details:not([open]):hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.faqTXTsub {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  letter-spacing: 1%;
  line-height: 1.4;
  text-align: left;
  text-wrap: balance;
}
.faqTXTsub strong {
  font-weight: 600;
}

.faqBOXindent p {
    padding-left: 2rem;
    text-indent: -1rem;
}
.faqBOXpad1 {
    padding: 20px 0;
}
.faqBOXpad2 {
    padding: 20px 0 10px 0;
}
.faqSUBaccordian {
   opacity: 1 !important;
}
.faqSUBaccordian summary p {
   display: flex;
    gap: 6px;
}
.faqSUBaccordian summary svg {
   transition: all 0.2s ease-in-out;
   align-self: center;
}
/* Rotate arrow when open */
.faqSUBaccordian[open] summary svg{
  transform: rotate(90deg) scale(1, 1.2);
}
.faqBODYlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}
.faqBODYlist a {
    text-decoration: none;
}
.faqBODYlist div a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.faqBODYlist div a span {
    align-self: flex-start !important;
}
.faqLOGOdot {
  transform-origin: center;
  clip-path: circle(50%);
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1;
}

.faqBODYlist:hover div a, .faqBODYlist:hover div a strong, .faqBODYlist:hover div a span, .faqBODYlist:hover div a svg {
    color: #c1bfb9 !important;
    fill: #c1bfb9 !important;
    transition: color 0.1s ease-in-out;
}

.faqBODYlist div a:hover, .faqBODYlist div a:hover strong, .faqBODYlist div a:hover span, .faqBODYlist div a:hover svg {
    color: #2a2a2a !important;
    fill: #2a2a2a !important;
    transition: color 0.1s ease-in-out;
}
.faqSUBindent {
    padding-left: 24px !important;
}

.faqBODYlistapp {
    display: flex;
    flex-direction: column;
}

.faqASSETSbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 20px;
}
.faqASSETSbox label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}
.faqASSETSbox span {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  align-self: center;
}
.faqLINKextra  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}
.faqLINKextra div a {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    text-decoration: none;
}
.faqASSETSbox:hover div a span,
.faqASSETSbox:hover div a svg {
  opacity: 0.5;
}
.faqASSETSbox div a:hover span,
.faqASSETSbox div a:hover svg {
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqASSETSbox div a svg {
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: center;
}
.faqASSETSbox div a:hover svg {
  transform: scale(1.18);
}
/* ALL MOBILE */
@media (max-width: 768px) {
  .faqASSETSbox svg {
    width: 8vw;
    height: 8vw;
  }
}
/* ALL DESKTOP */
@media (min-width: 769px) {
  .faqASSETSbox svg {
    width: 30px;
    height: 30px;
  }
}

html:has(.modalFAQstate:checked) body {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px); /* Prevents layout twitching */
}
.modalFAQstate {
  display: none;
}
.modalFAQoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modalFAQstate:checked ~ .modalFAQoverlay {
  display: flex;
}
.modalFAQbox {
  background: #f8f5f0;
    padding: 20px 20px 40px 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.modalFAQheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.openFAQbtn {
  display: inline-block;
  cursor: pointer;
}
.closeFAQbtn {
  font-size: 38px;
  text-align: right;
  color: #c1bfb9;
  cursor: pointer;
  margin: 0 !important;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.closeFAQbtn:hover {
  color: #6b6a69;
}
.modalFAQbackdrop-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}
.iframeFAQcontainerVID {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 divided by 16) */
  height: 0;
  overflow: hidden;
}
.iframeFAQcontainerVID iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.iframeFAQcontainerPDF {
  position: relative;
  width: 100%;
  padding-bottom: 129.41%; /* 8.5x11 aspect ratio: (11 / 8.5) * 100 */
  height: 0;
  overflow: hidden;
}
.iframeFAQcontainerPDF iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Aspect Ratio Box: 8.5 / 11 = 0.7727 (77.27%) */
.pdf-container {
  position: relative;
  width: 102%;
  margin: -10px !important;
  height: 0;
  padding-bottom: 77.27%; /* Forces 11:8.5 landscape ratio */
}

/* Stretch iframe to fill the aspect ratio box */
.pdf-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}


.modalFAQbox a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.faqBODYlistitem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    transition: all 0.3s ease-in-out;
}
.faqBODYlistitem p {
    margin: 0;
    align-self: center;
    font-weight: 600;
}


.faqBODYlistitem div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.faqBODYlistitem svg {
  width: 30px;
  height: 30px;
  align-self: center;
}
.faqBODYlistitem div a {
    display: flex;
    flex-direction: row;
}
.faqBODYlistitem div a svg {
  fill: #969491;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqHIDEdescription {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.faqHIDEdescription div {
    position: absolute;
    padding-left: 4px;
}
.faqBODYlistitem div:hover .faqSHOWapple svg, .faqBODYlistitem div:hover .faqSHOWgoogle svg {
  fill: #c1bfb9;
}

.faqBODYlistitem div .faqSHOWapple:hover svg, .faqBODYlistitem div .faqSHOWgoogle:hover svg {
  fill: #6b6a69;
}

.faqHIDEapple, .faqHIDEgoogle {
    opacity: 0;
}

.faqBODYlistitem:has(.faqSHOWapple:hover) .faqHIDEapple {
    opacity: 1;
}
.faqBODYlistitem:has(.faqSHOWgoogle:hover) .faqHIDEgoogle {
    opacity: 1;
}

.faqBOXcontactus {
    display: flex;
    flex-direction: column;
}
.faqBOXcontactus .faqSUBaccordian summary div, .faqBOXcontactus .faqSUBaccordian div a,  
.faqBOXcontactus .faqSUBaccordian .faqHOVERbox a div {
  display: flex;
  gap: 10px;
  align-content: center;
  transition: all 0.2s ease-in-out;
}
.faqHOVERbox:hover a div {
  outline: 1px solid #c1bfb9;
  background-color: #fcfaf8;
  outline-offset: 5px;
  border-radius: 30px;
  margin-left: -7px;
  padding-left: 7px;
  padding-right: 80px;
  transition: all 0.2s ease-in-out;
}
.faqHOVERbox:hover a span {
  color: #404041;
}
.faqHOVERbox:hover a svg {
fill: #404041;
}



@media (min-width: 650px) {
.faqGRIDcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 10px;
  max-width: 90%;
}
}
.faqGRIDitem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #404041;
  font-weight: 500;
  padding-bottom: 2rem;
  transition: color 0.2s ease-in-out;
}
.faqGRIDitem a  {
  color: #6b6a69;
  text-decoration: none;
}
.faqGitem1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.faqGitem2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.faqGitem3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.faqGitem4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.faqGitem5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.faqGitem6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.faqGitem7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.faqGitem8 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

/* Tablet styles */
@media (max-width: 1280px) {
  .faqGRIDcontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(60px, auto));
    gap: 10px 10px;
  }
  
  .faqGitem1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .faqGitem2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .faqGitem3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  .faqGitem4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .faqGitem5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .faqGitem6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  
  .faqGitem7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .faqGitem8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

/* Mobile styles */
@media (max-width: 900px) {
  .faqGRIDcontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, minmax(60px, auto));
    gap: 10px 10px;
  }
  
  .faqGitem1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .faqGitem2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .faqGitem3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .faqGitem4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .faqGitem5 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .faqGitem6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .faqGitem7 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .faqGitem8 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}

/* Mobile styles */
@media (max-width: 649px) {
  .faqGRIDcontainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px 10px;
  }
  
  .faqGitem1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  .faqGitem2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .faqGitem3 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  
  .faqGitem4 {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  
  .faqGitem5 {
    grid-column-start: 1;
    grid-row-start: 5;
  }
  
  .faqGitem6 {
    grid-column-start: 1;
    grid-row-start: 6;
  }
  
  .faqGitem7 {
    grid-column-start: 1;
    grid-row-start: 7;
  }
  
  .faqGitem8 {
    grid-column-start: 1;
    grid-row-start: 8;
  }
}

/* Mobile First Layout (SVG left, Text stacked on the right) */
.faqCONTACTcontainer {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto auto auto; 
  gap: 1rem;
}


/* SVG constrained to its zone */
.faqCONTACTsvgbox {
    grid-row: span 2 / span 2;
    width: 80px; /* Adjust size as needed */
    height: 80px;
}

.faqCONTACTsvgbox svg {
  width: 100%;
  height: 100%;
  display: block;
  color: #ff8819;
  transition: color 0.2s ease-in-out;
}

.faqCONTACTtext-1 {
  grid-column: 2;
  grid-row: 1;
}

.faqCONTACTtext-2 {
  grid-column: 2;
  grid-row: 2;
align-self: flex-end;
}

.faqCONTACTtext-3 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
  }
/* Desktop Layout (SVG top-left, Text stacked underneath) */
@media (min-width: 649px) {
  .faqCONTACTcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .faqCONTACTsvgbox {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 8px;
  }

  .faqCONTACTtext-1 {
    grid-column: 1;
    grid-row: 2;
  }

.faqCONTACTtext-2 {
    grid-column: 1;
    grid-row: 3;
  }

.faqCONTACTtext-3 {
    grid-column: 1;
    grid-row: 4;
  }
}
.faqCONTACTcontacts {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.faqCONTACTcontacts div a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #404041;
    gap: 0.4rem;
}
.faqCONTACTcontacts div a p {
  letter-spacing: 0.03rem;
}
.faqCONTACTcontacts svg {
    fill: #6b6a69;
    width: 30px;
    transition: fill 0.2s ease-in-out;
}
.faqCONTACTtext-2 p {
  display: inline-block;
}

.faqGRIDitem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #404041;
  font-weight: 500;
  padding-bottom: 2rem;
}
.faqGRIDitem a  {
  color: #6b6a69;
  text-decoration: none;
}

.faqGRIDcontainer:hover .faqGRIDitem .faqCONTACTsvgbox svg, 
.faqGRIDcontainer:hover .faqGRIDitem, 
.faqGRIDcontainer:hover .faqGRIDitem a, 
.faqGRIDcontainer:hover .faqGRIDitem .faqCONTACTcontacts div a svg {
  color: #c1bfb9;
  fill: #c1bfb9;
  transition: color fill 0.2s ease-in-out;
}

.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTsvgbox svg, 
.faqGRIDcontainer .faqGRIDitem:hover, 
.faqGRIDcontainer .faqGRIDitem:hover a, 
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts div a svg {
  color: #2a2a2a;
  fill: #2a2a2a;
  transition: color fill 0.2s ease-in-out;
}
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTsvgbox svg {
  color: #ff8819;
  transition: color 0.2s ease-in-out;
}
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts:hover div a p, 
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts:hover div a svg {
  color: #969491; fill:#969491;
}

.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts div:hover a p, 
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts div:hover a svg {
  color: #2a2a2a; fill:#2a2a2a !important;
}

/* X-SMALL */
@media (max-width: 749px) {
.faqCONTACTcontacts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0.4rem;
    margin-top: 20px;
}
.faqCONTACTcontacts div a {
    text-decoration: none;
    color: #404041;
    gap: 10px;
}
.faqCONTACTcontainer p {
    font-size: 18px;
}

.faqCONTACTcontainer h3 a {
    font-size: 24px;
    color: #828286;
}
.faqCONTACTcontacts div a svg {
    width: 80px !important;
    height: 80px;
}
.faqCONTACTcontainer {
  gap: 0 20px;
}
.faqGRIDitem {
  width: 90%;       /* Or a fixed width like 300px */
  margin: 0 auto;   /* Automatically splits left and right spacing */
}

.faqCONTACTcontacts > div:not(:first-child) a p {
  display: none;
}
}
.faqGRIDlistcontainer {
  display: grid;
  /* Core responsive logic */
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  /* Spacing between faqGRIDlistcards */
  gap: 20px; 
  /* Fills parent width */
  width: 100%; 
  box-sizing: border-box;
}
.faqGRIDlistcontainer {
  display: grid;
  /* Core responsive logic */
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  /* Spacing between faqGRIDlistcards */
  gap: 20px; 
  /* Fills parent width */
  width: 100%; 
  box-sizing: border-box;
}
.faqGRIDlistcontainer02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 400px));
  gap: 20px; 
  width: 100%; 
  box-sizing: border-box;
}
.faqGRIDlistcontainer04 {
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; 
  width: 100%; 
  box-sizing: border-box;
}

.faqGRIDlistcard {
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faqGRIDlistcontainer03 {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  gap: 0px; 
  width: 100%; 
  box-sizing: border-box;
}

.faqGRIDlistcard03head01 {
    grid-column-start: 1;
    grid-row-start: 1;
  padding-right: 20px; 
}
.faqGRIDlistcard03head02 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}
.faqGRIDlistcard03box01 {
    grid-column-start: 1;
    grid-row-start: 2;
  padding-right: 20px; 
}

.faqGRIDlistcard03box02 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.faqGRIDlistcard03box03 {
    grid-column-start: 3;
    grid-row-start: 2;
}
.rightFAQborder {
border-right: 1px solid #969491;
margin-right: 20px;
}
        
    /* Fixed dimensions for the SVG link wrapper */
    .faqGRIDlistICON {
      width: 30px;
      height: 30px;
     transition: all 0.2s ease-in-out;
    }

    /* Ensures the SVG scales exactly to the link wrapper */
    .faqGRIDlistICON svg {
      width: 100%;
      height: 100%;
      border: 1px solid #fcfaf8;
    border-radius: 50%;
    background-color: #fcfaf8;
     transition: all 0.2s ease-in-out;
    }

    /* Content wrapper adjustments */
    .faqGRIDlistCONTENT {
      flex: 1;
    }
    .faqGRIDlistCONTENT p {
      line-height: 1.2;
      width: 80%;
      transition: all 0.2s ease-in-out;
    }
    .faqGRIDlistCONTENT p:first-child {
      padding-bottom: 4px;
      width: 100%;
           transition: all 0.2s ease-in-out;
    }
    .faqGRIDlistICON:hover {
      transform: scale(2) translate(7.5px, 2px);
    }
    .faqGRIDlistICON:hover svg {
    border: 1px solid #fcfaf8;
    border-radius: 50%;
    background-color: #fcfaf8;
    }
.faqGRIDlistcard:has(.faqGRIDlistICON:hover) .faqGRIDlistCONTENT p:first-child {
      transform: translate(0px, 20px);
}
.faqGRIDlistcard:has(.faqGRIDlistICON:hover) .faqGRIDlistCONTENT p:not(:first-child) {
      transform: translate(0px, 10px);
      opacity: 0.2;
}

/* COLOR BRANDING ADJUSTMENTS */