    /* Outlines the grids, remove when sending
div, section, header, nav, ul, li { border: 1px solid cyan !important}*/



/* SECTIONS */
.faqBODYcontainer h1, .faqBODYcontainer h2, .faqBODYcontainer h3, .faqBODYcontainer h4, .faqBODYcontainer h5, .faqBODYcontainer p {
    margin: 0;
    padding: 0;
}
.faqBODYdark {
  background-color: #ece9e1;
  border-top: 1px solid #ffffff;
  padding: 5% 0 10% 0;
}
.faqBODYlight {
  background-color: #f8f5f0;
  border-top: 1px solid #ffffff;
  padding: 5% 0 10% 0;
}

.faqBODYdark .faqHEADbig, .faqBODYlight .faqHEADbig {
  color: #404041;
}
.faqBODYcontainer .faqHEADbig  {
    padding: 3rem 0;
}
.faqHEADbig .faqHEADunderline {
  display: inline !important;
  padding-bottom: 6px;
  border-bottom: 10px solid #787878;
}
.faqBODYBlue .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #00b7ff;
}
.faqBODYgold .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #ffca2b;
}
.faqBODYred .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #ff5e5e;
}
.faqBODYgreen .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #92ff5c;
}
.faqBODYviolet .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #bc69ff;
}
.faqBODYorange .faqHEADbig .faqHEADunderline {
  display: inline !important;
  border-bottom: 10px solid #ff8819;
}

.faqTXTquestion {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  text-wrap: balance;
  display: inline;
  text-align: left;
  border-radius: 0;
}

.faqQUESTIONwrapper details summary, 
.faqQUESTIONwrapper details p, 
.faqQUESTIONwrapper details div, 
.faqQUESTIONwrapper details svg, 
.faqQUESTIONwrapper details span {
  color: #404041;
  fill: #404041;

}


.faqTXTanswer {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.4;
  text-align: left;
  text-wrap: balance;
}
.faqTXTanswer strong {
  font-weight: 600;
}

/* X-SMALL */
@media (max-width: 549px) {
.faqTXTquestion {
    font-size: 18px;
  }
.faqTXTanswer {
    font-size: 16px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 15px;
  }
.faqQUESTIONwrapper {
    width: 100%;
}
}

/* SMALL */
@media (550px <= width <= 767px) {
.faqTXTquestion {
    font-size: 19px;
  }
.faqTXTanswer {
    font-size: 17px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 16px;
  }
.faqQUESTIONwrapper {
    width: 550px;
}
}

/* MEDIUM */
@media (768px <= width <= 1023px) {
.faqTXTquestion {
    font-size: 22px;
  }
.faqTXTanswer {
    font-size: 19px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 16px;
  }
.faqQUESTIONwrapper {
    width: 768px;
}
}

/* LARGE */
@media (1024px <= width <= 1279px) {
.faqTXTquestion {
    font-size: 24px;
  }
.faqTXTanswer {
    font-size: 20px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 18px;
  }
.faqQUESTIONwrapper {
    width: 1024px;
}
}

/* X-LARGE */
@media (min-width: 1280px) {
.faqTXTquestion {
    font-size: 26px;
  }
.faqTXTanswer {
    font-size: 22px;
  }
.faqASSETSbox span, .faqTXTsub {
    font-size: 20px;
  }
.faqQUESTIONwrapper {
    width: 1280px;
}
}

/* Individual faqQUESTIONwrapper items */
.faqQUESTIONwrapper details {
  margin-bottom: 20px;
  overflow: hidden;
}

/* Clickable header */
.faqQUESTIONwrapper summary {
  cursor: pointer;
  list-style: none; 
  display: inline-flex;
  align-items: center;
}
.faqQUESTIONwrapper .faqTXTquestion svg {
   padding: 0 0 0 10px;
   transition: all 0.2s ease-in-out;
}
/* Rotate arrow when open */
.faqQUESTIONwrapper details[open] .faqTXTquestion svg{
  transform: rotate(90deg) scale(1, 1.2);
   padding: 0 0 12px 2px;
}
.faqQUESTIONwrapper details[open] .faqInitial {
  transform: none;
  padding: 0 ;
}
.faqInitial {
    align-self: center;
}
/* Nested inner content container */
.faqQUESTIONwrapper .faqANSWERbox {
    position: relative; /* Anchor for the pseudo-element */
    padding: 20px 0;
}
.faqQUESTIONwrapper .faqANSWERbox div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.faqQUESTIONwrapper .faqANSWERbox div:first-of-type {

}
.faqQUESTIONwrapper .faqANSWERbox::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;    
  height: 1px;    
  background: #58585a;
}
.faqTXTsub {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  letter-spacing: 1%;
  line-height: 1.4;
  text-align: left;
  text-wrap: balance;
}
.faqTXTsub strong {
  font-weight: 600;
}
.faqBOXindent {
    margin-bottom: 20px;
}
.faqBOXindent p {
    padding-left: 2rem;
    text-indent: -1rem;
}
.faqBOXpad1 {
    padding: 20px 0;
}
.faqBOXpad2 {
    padding: 20px 0 10px 0;
}
.faqSUBaccordian {
    margin-bottom: 0 !important
}
.faqSUBaccordian summary p {
   display: flex;
    gap: 6px;
}
.faqSUBaccordian summary svg {
   transition: all 0.2s ease-in-out;
   align-self: center;
}
/* Rotate arrow when open */
.faqSUBaccordian[open] summary svg{
  transform: rotate(90deg) scale(1, 1.2);
}
.faqBODYlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faqBODYlist a {
    text-decoration: none;
}
.faqBODYlist div a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.faqBODYlist div a span {
    align-self: flex-start !important;
}
.faqLOGOdot {
  transform-origin: center;
  clip-path: circle(50%);
  border-radius: 50%;
  width: 24px;
  aspect-ratio: 1;
}

.faqBODYlist:hover div a, .faqBODYlist:hover div a strong, .faqBODYlist:hover div a span, .faqBODYlist:hover div a svg {
    color: #a7a9ab !important;
    fill: #a7a9ab !important;
    transition: color 0.1s ease-in-out;
}

.faqBODYlist div a:hover, .faqBODYlist div a:hover strong, .faqBODYlist div a:hover span, .faqBODYlist div a:hover svg {
    color: #2a2a2a !important;
    fill: #2a2a2a !important;
    transition: color 0.1s ease-in-out;
}
.faqSUBindent {
    padding-left: 20px;
}

.faqBODYlistapp {
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.faqASSETSbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 16px;
  gap: 20px;
}
.faqASSETSbox label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}
.faqASSETSbox span {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  align-self: center;
}
.faqLINKextra  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}
.faqLINKextra div a {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    text-decoration: none;
}
.faqASSETSbox:hover div a span,
.faqASSETSbox:hover div a svg {
  opacity: 0.5;
}
.faqASSETSbox div a:hover span,
.faqASSETSbox div a:hover svg {
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqASSETSbox div a svg {
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: center;
}
.faqASSETSbox div a:hover svg {
  transform: scale(1.18);
}
/* ALL MOBILE */
@media (max-width: 768px) {
  .faqASSETSbox svg {
    width: 8vw;
    height: 8vw;
  }
}
/* ALL DESKTOP */
@media (min-width: 769px) {
  .faqASSETSbox svg {
    width: 30px;
    height: 30px;
  }
}

html:has(.modalFAQstate:checked) body {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px); /* Prevents layout twitching */
}
.modalFAQstate {
  display: none;
}
.modalFAQoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modalFAQstate:checked ~ .modalFAQoverlay {
  display: flex;
}
.modalFAQbox {
  background: white;
    padding: 20px 20px 40px 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.modalFAQheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.openFAQbtn {
  display: inline-block;
  cursor: pointer;
}
.closeFAQbtn {
  font-size: 38px;
  text-align: right;
  color: #c3c3c3;
  cursor: pointer;
  margin: 0 !important;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.closeFAQbtn:hover {
  color: #888888;
}
.modalFAQbackdrop-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}
.iframeFAQcontainerVID {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 divided by 16) */
  height: 0;
  overflow: hidden;
}
.iframeFAQcontainerVID iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.iframeFAQcontainerPDF {
  position: relative;
  width: 100%;
  padding-bottom: 129.41%; /* 8.5x11 aspect ratio: (11 / 8.5) * 100 */
  height: 0;
  overflow: hidden;
}
.iframeFAQcontainerPDF iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Aspect Ratio Box: 8.5 / 11 = 0.7727 (77.27%) */
.pdf-container {
  position: relative;
  width: 102%;
  margin: -10px !important;
  height: 0;
  padding-bottom: 77.27%; /* Forces 11:8.5 landscape ratio */
}

/* Stretch iframe to fill the aspect ratio box */
.pdf-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}


.modalFAQbox a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.faqBODYlistitem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    transition: all 0.3s ease-in-out;
}
.faqBODYlistitem p {
    margin: 0;
    align-self: center;
    font-weight: 600;
}


.faqBODYlistitem div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.faqBODYlistitem svg {
  width: 30px;
  height: 30px;
  align-self: center;
}
.faqBODYlistitem div a {
    display: flex;
    flex-direction: row;
}
.faqBODYlistitem div a svg {
  fill: #939597;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.faqHIDEdescription {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.faqHIDEdescription div {
    position: absolute;
    padding-left: 4px;
}
.faqBODYlistitem div:hover .faqSHOWapple svg, .faqBODYlistitem div:hover .faqSHOWgoogle svg {
  fill: #a7a9ab;
}

.faqBODYlistitem div .faqSHOWapple:hover svg, .faqBODYlistitem div .faqSHOWgoogle:hover svg {
  fill: #58585a;
}

.faqHIDEapple, .faqHIDEgoogle {
    opacity: 0;
}

.faqBODYlistitem:has(.faqSHOWapple:hover) .faqHIDEapple {
    opacity: 1;
}
.faqBODYlistitem:has(.faqSHOWgoogle:hover) .faqHIDEgoogle {
    opacity: 1;
}

.faqBOXcontactus {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faqBOXcontactus .faqSUBaccordian summary div, .faqBOXcontactus .faqSUBaccordian div a {
display: flex;
gap: 10px;
align-content: center;
}

.faqHOVERbox:hover a span {
  color: #bc69ff;
     transition: all 0.2s ease-in-out;
}
.faqHOVERbox:hover a svg {
fill: #bc69ff;
   transition: all 0.2s ease-in-out;
}



@media (min-width: 650px) {
.faqGRIDcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 10px;
  max-width: 90%;
}
}
.faqGRIDitem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #404041;
  font-weight: 500;
  padding-bottom: 2rem;
  transition: color 0.2s ease-in-out;
}
.faqGRIDitem a  {
  color: #58585a;
  text-decoration: none;
}
.faqGitem1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.faqGitem2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.faqGitem3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.faqGitem4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.faqGitem5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.faqGitem6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.faqGitem7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.faqGitem8 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

/* Tablet styles */
@media (max-width: 1280px) {
  .faqGRIDcontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(60px, auto));
    gap: 10px 10px;
  }
  
  .faqGitem1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .faqGitem2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .faqGitem3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  .faqGitem4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .faqGitem5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .faqGitem6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  
  .faqGitem7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .faqGitem8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

/* Mobile styles */
@media (max-width: 900px) {
  .faqGRIDcontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, minmax(60px, auto));
    gap: 10px 10px;
  }
  
  .faqGitem1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .faqGitem2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .faqGitem3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .faqGitem4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .faqGitem5 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .faqGitem6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .faqGitem7 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .faqGitem8 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}

/* Mobile styles */
@media (max-width: 649px) {
  .faqGRIDcontainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px 10px;
  }
  
  .faqGitem1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  .faqGitem2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .faqGitem3 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  
  .faqGitem4 {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  
  .faqGitem5 {
    grid-column-start: 1;
    grid-row-start: 5;
  }
  
  .faqGitem6 {
    grid-column-start: 1;
    grid-row-start: 6;
  }
  
  .faqGitem7 {
    grid-column-start: 1;
    grid-row-start: 7;
  }
  
  .faqGitem8 {
    grid-column-start: 1;
    grid-row-start: 8;
  }
}

/* Mobile First Layout (SVG left, Text stacked on the right) */
.faqCONTACTcontainer {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto auto auto; 
  gap: 1rem;
}


/* SVG constrained to its zone */
.faqCONTACTsvgbox {
    grid-row: span 2 / span 2;
    width: 80px; /* Adjust size as needed */
    height: 80px;
}

.faqCONTACTsvgbox svg {
  width: 100%;
  height: 100%;
  display: block;
  color: #ff8819;
  transition: color 0.2s ease-in-out;
}

.faqCONTACTtext-1 {
  grid-column: 2;
  grid-row: 1;
}

.faqCONTACTtext-2 {
  grid-column: 2;
  grid-row: 2;
align-self: flex-end;
}

.faqCONTACTtext-3 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
  }
/* Desktop Layout (SVG top-left, Text stacked underneath) */
@media (min-width: 649px) {
  .faqCONTACTcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .faqCONTACTsvgbox {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 8px;
  }

  .faqCONTACTtext-1 {
    grid-column: 1;
    grid-row: 2;
  }

.faqCONTACTtext-2 {
    grid-column: 1;
    grid-row: 3;
  }

.faqCONTACTtext-3 {
    grid-column: 1;
    grid-row: 4;
  }
}
.faqCONTACTcontacts {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.faqCONTACTcontacts div a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #404041;
    gap: 0.2rem;
}
.faqCONTACTcontacts svg {
    fill: #58585a;
    width: 28px;
    transition: fill 0.2s ease-in-out;
}
.faqCONTACTtext-2 p {
  display: inline-block;
}

.faqGRIDitem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #404041;
  font-weight: 500;
  padding-bottom: 2rem;
}
.faqGRIDitem a  {
  color: #58585a;
  text-decoration: none;
}

.faqGRIDcontainer:hover .faqGRIDitem .faqCONTACTsvgbox svg, 
.faqGRIDcontainer:hover .faqGRIDitem, 
.faqGRIDcontainer:hover .faqGRIDitem a, 
.faqGRIDcontainer:hover .faqGRIDitem .faqCONTACTcontacts div a svg {
  color: #b4b3ad;
  fill: #b4b3ad;
  transition: color fill 0.2s ease-in-out;
}

.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTsvgbox svg, 
.faqGRIDcontainer .faqGRIDitem:hover, 
.faqGRIDcontainer .faqGRIDitem:hover a, 
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts div a svg {
  color: #2a2a2a;
  fill: #2a2a2a;
  transition: color fill 0.2s ease-in-out;
}
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTsvgbox svg {
  color: #ff8819;
  transition: color 0.2s ease-in-out;
}
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts:hover div a p, 
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts:hover div a svg {
  color: #939597; fill:#939597;
}

.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts div:hover a p, 
.faqGRIDcontainer .faqGRIDitem:hover .faqCONTACTcontacts div:hover a svg {
  color: #2a2a2a; fill:#2a2a2a !important;
}

/* X-SMALL */
@media (max-width: 749px) {
.faqCONTACTcontacts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0.4rem;
    margin-top: 20px;
}
.faqCONTACTcontacts div a {
    text-decoration: none;
    color: #404041;
    gap: 10px;
}
.faqCONTACTcontainer p {
    font-size: 18px;
}

.faqCONTACTcontainer h3 a {
    font-size: 24px;
    color: #828286;
}
.faqCONTACTcontacts div a svg {
    width: 80px !important;
    height: 80px;
}
.faqCONTACTcontainer {
  gap: 0 20px;
}
.faqGRIDitem {
  width: 90%;       /* Or a fixed width like 300px */
  margin: 0 auto;   /* Automatically splits left and right spacing */
}

.faqCONTACTcontacts > div:not(:first-child) a p {
  display: none;
}
}
.faqGRIDlistcontainer {
  display: grid;
  /* Core responsive logic */
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  /* Spacing between faqGRIDlistcards */
  gap: 20px; 
  /* Fills parent width */
  width: 100%; 
  box-sizing: border-box;
}
.faqGRIDlistcontainer {
  display: grid;
  /* Core responsive logic */
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  /* Spacing between faqGRIDlistcards */
  gap: 20px; 
  /* Fills parent width */
  width: 100%; 
  box-sizing: border-box;
}
.faqGRIDlistcontainer02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 400px));
  gap: 20px; 
  width: 100%; 
  box-sizing: border-box;
}
.faqGRIDlistcontainer04 {
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; 
  width: 100%; 
  box-sizing: border-box;
}

.faqGRIDlistcard {
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faqGRIDlistcontainer03 {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  gap: 0px; 
  width: 100%; 
  box-sizing: border-box;
}

.faqGRIDlistcard03head01 {
    grid-column-start: 1;
    grid-row-start: 1;
  padding-right: 20px; 
}
.faqGRIDlistcard03head02 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}
.faqGRIDlistcard03box01 {
    grid-column-start: 1;
    grid-row-start: 2;
  padding-right: 20px; 
}

.faqGRIDlistcard03box02 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.faqGRIDlistcard03box03 {
    grid-column-start: 3;
    grid-row-start: 2;
}
.rightFAQborder {
border-right: 1px solid #939597;
margin-right: 20px;
}
        
    /* Fixed dimensions for the SVG link wrapper */
    .faqGRIDlistICON {
      width: 30px;
      height: 30px;
     transition: all 0.2s ease-in-out;
    }

    /* Ensures the SVG scales exactly to the link wrapper */
    .faqGRIDlistICON svg {
      width: 100%;
      height: 100%;
      border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #fff;
     transition: all 0.2s ease-in-out;
    }

    /* Content wrapper adjustments */
    .faqGRIDlistCONTENT {
      flex: 1;
    }
    .faqGRIDlistCONTENT p {
      line-height: 1.2;
      width: 80%;
      transition: all 0.2s ease-in-out;
    }
    .faqGRIDlistCONTENT p:first-child {
      padding-bottom: 4px;
      width: 100%;
           transition: all 0.2s ease-in-out;
    }
    .faqGRIDlistICON:hover {
      transform: scale(2) translate(7.5px, 2px);
    }
    .faqGRIDlistICON:hover svg {
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #fff;
    }
.faqGRIDlistcard:has(.faqGRIDlistICON:hover) .faqGRIDlistCONTENT p:first-child {
      transform: translate(0px, 20px);
}
.faqGRIDlistcard:has(.faqGRIDlistICON:hover) .faqGRIDlistCONTENT p:not(:first-child) {
      transform: translate(0px, 10px);
      opacity: 0.2;
}